// default buttons
.btn {
	display: inline-block;
	background-color: $color-blue-light;
	color: $color-white;
	font-family: $stack-emeric-medium;
	font-size: 18px;
	line-height: 18px;
	padding: 16px 20px;
	text-decoration: none;
	text-transform: uppercase;
	border-style: none;
	@include font-rendering;
	transition: all .15s ease-out;

	&:hover,
	&:active {
		background-color: $color-blue-dark;
		color: $color-white;
		outline-style: none;
		transition: all .15s ease-out;
	}

	&.btn-alt {
		background-color: rgba($color-red,.9);
		// slightly lighter text-shadow here
		@include text-shadow(rgba($color-black, .5));
		text-transform: none;

		&:hover,
		&:active {
			background-color: $color-red;
		}
	}
}