// Colors
$color-black: #000;
$color-white: #fff;

// From comps
$color-off-white: #f9f9f9;
$color-grey-light: #ebebeb;
$color-grey-light-dark: #acacac;
$color-grey-b: #bbb;
$color-grey-c: #ccc;
$color-grey-e: #e4e4e4;
$color-grey-5: #555;
$color-grey-6: #666;
// $color-grey-7: #777;
$color-grey-8: #888;
$color-grey-9: #999;
$color-grey-dark: #232323; // footer
$color-grey-darker: #1d1d1d; // footer .stat-intro
$color-grey-darkest: #141414; // footer

$color-blue: #5aa4da; // main nav
$color-blue-light: #6db6e1; // buttons, .title-med
$color-blue-very-light: #b5d9ee; // buttons, .title-med
$color-blue-dark: #42a1d7; // buttons hover
$color-off-blue: #93aab7; // careers row highlight
$color-blue-light-border: #dcecf5; // _list_media
$color-blue-deep: #2e5fa4;

$color-green: #97c93c;

$color-red: #ed1f34;

$color-input: #efefef;
$color-error: #ff0000;
$color-error-light: #ffe8e8;
