// Typography related vars and mixins
$fontPath: "/assets/fonts";
$weight-light: 200;
$weight-bold: bold;

// Helvetica
$stack-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Emeric Font Stacks
$stack-emeric-light: "FS Emeric Light", $stack-helvetica;
$stack-emeric-thin: "FS Emeric Thin", $stack-helvetica;
$stack-emeric-medium: "FS Emeric Medium", $stack-helvetica;
$stack-emeric-book: "FS Emeric Book", $stack-helvetica;
$stack-emeric-semi-bold: "FS Emeric Semi Bold", $stack-helvetica;
$stack-emeric-regular: "FS Emeric Regular", $stack-helvetica;

$stack-sans: $stack-emeric-regular;

/*div { font-family:"FS Emeric Light", Verdana, sans-serif; font-weight:200; font-style:normal; }
div { font-family:"FS Emeric Thin", Verdana, sans-serif; font-weight:100; font-style:normal; }
div { font-family:"FS Emeric Medium", Verdana, sans-serif; font-weight:500; font-style:normal; }
div { font-family:"FS Emeric Book", Verdana, sans-serif; font-weight:normal; font-style:normal; }
div { font-family:"FS Emeric Semi Bold", Verdana, sans-serif; font-weight:600; font-style:normal; }
div { font-family:"FS Emeric Regular", Verdana, sans-serif; font-weight:normal; font-style:normal; }
*/

@mixin font-rendering(){
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	//text-rendering: optimizeLegibility; Causing weird line break issues in Windows Chrome
	-moz-osx-font-smoothing: grayscale;
}

/* Generic typesetting */

/* TITLES */
// Use -thin font for MOST titles, despite what the comps show?

.title-lrg {
	color: $color-blue-light;
	font-family: $stack-emeric-light;
	font-size: 28px;
	margin: 0 0 12px;
	@include font-rendering;

	@include breakpoint(medium) {
		font-size: 36px;
		margin-bottom: 20px;
	}
}

.title-med {
	color: $color-grey-8;
	font-family: $stack-emeric-light;
	font-size: 24px;
	margin: 0 0 12px;
	@include font-rendering;

	@include breakpoint(medium) {
		font-size: 30px;
		margin-bottom: 20px;
	}
}

.title-sm {
	color: $color-blue-light;
	font-family: $stack-emeric-light;
	font-size: 24px;
	margin: 0 0 12px;
	@include font-rendering;
	text-align: center;
}

// Team page, titles are 'button-like' on mobile
.title-sm-reg-btn,
.news-title-btn {
	text-transform: uppercase;
	border: 1px solid $color-grey-light-dark;
	font-family: $stack-emeric-medium;
	font-size: 14px;
	color: $color-grey-8;
	margin: 0;
	padding: 12px;
	background: url("#{$imgsPath}/icon-arrow-up.svg") no-repeat 94% center $color-grey-light;

	&.is-open {
		background-image: url("#{$imgsPath}/icon-arrow-down.svg");
	}

	&:hover {
		cursor: pointer;

		@include breakpoint(medium) {
			cursor: auto;
		}
	}

	@include breakpoint(medium) {
		background-image: none;
		background-color: transparent;
		padding: 0;
		text-transform: none;
		border-style: none;
		font-family: $stack-emeric-light;
		font-size: 24px;
		margin: 0 0 12px;
		@include font-rendering;
		color: $color-grey-8;

		&.is-open {
			background-image: none;
		}
	}
}

.news-title-btn {
	// same as .news-title in _lay_news.scss
	@include breakpoint(medium) {
		font-size: 24px;
		color: $color-blue;
		font-family: $stack-emeric-light;
		text-transform: uppercase;
		margin: 0 0 12px;
	}
}

.title-sm-reg {
	font-family: $stack-emeric-light;
	font-size: 24px;
	margin: 0 0 12px;
	@include font-rendering;
	color: $color-grey-8;
}

/* COPY */
p.copy-med {
	color: $color-grey-8;
	font-family: $stack-emeric-thin;
	font-size: 18px;
	line-height: 21px;
	
	@include breakpoint(medium) {
		line-height: 29px;
	}
}

p.copy-lrg {
	color: $color-grey-8;
	font-family: $stack-emeric-light;
	font-size: 20px;
	line-height: 29px;
}

p.copy-green {
	color: $color-green;
}

.title-legal {
	font-family: $stack-emeric-regular;
	font-size: 24px;
	font-weight: normal;
	color: $color-grey-6;
	margin: 12px 0 9px;
	text-transform: uppercase;
}

.text-copyright {
	font-size: 12px;
	margin: 20px 0 0;
	line-height: normal;
}

p,
p.copy-legal,
.list-legal {
	margin-top: 0;
	font-size: 18px;
	color: $color-grey-8;
	margin-bottom: 14px;
	line-height: 24px;
}

.list-legal {
	padding-left: 0;
	list-style-position: inside;

	a,
	a:link,
	a:visited {
		text-decoration: underline;
	}
}

.icon-arrow-down-circle {
	display: block;
	@include size(32px,32px);
	background: url("#{$imgsPath}/icon-arrow-down-circle.svg") no-repeat center center transparent;
	background-size: 32px 32px;
	opacity: .8;

	&:hover {
		opacity: 1;
	}
}

