// Can these be condensed? Are they handled by autoprefixer?
::-webkit-input-placeholder {
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-b;
}

/*	.is-error::-webkit-input-placeholder {
		color: $color-error;
	}*/

:-moz-placeholder { /* Firefox 18- */
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-b;
}
	.is-error:-moz-placeholder { /* Firefox 18- */
		color: $color-error;
	}

::-moz-placeholder {  /* Firefox 19+ */
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-b;
}
	/*.is-error::-moz-placeholder {
		color: $color-error;
	}*/

:-ms-input-placeholder {  
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-b;
}
	/*.is-error:-ms-input-placeholder {  
		color: $color-error;
	}*/

:placeholder {
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-b;
}
	/*.is-error:placeholder {
		color: $color-error;
	}*/

// Blog Archive search
.in-sm::-webkit-input-placeholder {
	font: normal 14px $stack-emeric-regular;
}

.in-sm:-moz-placeholder { /* Firefox 18- */
	font: normal 14px $stack-emeric-regular;
}

.in-sm::-moz-placeholder {  /* Firefox 19+ */
	font: normal 14px $stack-emeric-regular;
}

.in-sm:-ms-input-placeholder {  
	font: normal 14px $stack-emeric-regular;
}

.in-sm:placeholder {
	font: normal 14px $stack-emeric-regular;
}
