.form-contact {
	margin-top: 44px;
}
/* inputs */

.in-default {
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	border: 1px solid $color-grey-b;
	line-height: 18px;
	font: normal 18px $stack-emeric-regular;
	color: $color-grey-8;
	padding: 10px 17px;
	margin-bottom: 35px;
	box-shadow: inset 0 2px 5px $color-grey-c;
	@include font-rendering;

	&.in-phone {
		width: 70%;
	}

	&.in-ext {
		width: 24%;
		float: right;
	}

	&:active,
	&:focus {
		outline-style: none;
	}

	&.is-error {
		// color: $color-error;
		margin-bottom: 0; // move margin to inserted label, below
	}

	&.in-sm {
		margin-top: 6px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		line-height: 14px;
	}
}

textarea.in-default {
	margin-bottom: 10px;
	height: 135px;

	@include breakpoint(medium) {
		width: 98.5%; // just a touch smaller for better alignment with inputs above it
		height: 270px;
	}
}

label.is-error {
	display: inline-block;
	color: $color-error;
	font: normal 14px $stack-emeric-regular;
	margin: 2px 0 15px 3px;
}

p.copy-required {
	font-size: 12px;
	color: $color-grey-8;
}