/* Breakpoint settings and mixins */
$point-medium: 768px; // taken from Delphic Digital Sample
$point-large: 980px;  // taken from Delphic Digital Sample
$point-xl: 1024px;  // taken from Delphic Digital Sample

// breakpoints
@mixin breakpoint($point) {

	// default CSS to less than medium screens

	@if $point == medium {
		@media (min-width: $point-medium) { @content; }
	}

	@else if $point == large {
		@media (min-width: $point-large) { @content; }
	}

	@else if $point == xl {
		@media (min-width: $point-xl) { @content; }
	}

	@else if $point == hires {
		@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) { @content; }
	}

	// min-width and max-width BP setup
	@if $point == mediumToLarge {
		@media (min-width: $point-medium) and (max-width: $point-large) { @content; }
	}
}

/* Grid Setup, default to mobile.
 - generic rows
 - highlighted rows
 	- special highlighted rows (ie: row-highlight-map)

 The News page contains columns unique to news, see _lay_news.scss
------------------------------------------------------------------------------*/

/* opened in header.html, closed in footer.html */
.container-overall {
	min-width: 320px;
	width: 100%;
	margin-top: 100px; // takes up space of fixed _layout_header
}

.row {
	&.row-highlight {
		background-color: $color-off-white;

		// if a row-highlight contains a .btn, we need more margin-top
		.btn {
			margin-top: 30px;
		}
	}

	// HOME page, stat row across the top, more padding bottom if abs pos stats are visible
	&.row-stats {
		@include breakpoint(medium) {
			.container-inner {
				padding-bottom: 240px;
			}
		}
	}

	&.row-highlight-blue {
		background-color: $color-off-blue;
	}

	&.row-highlight-map {
		background: url("#{$imgsPath}/row-highlight-map.jpg") center center no-repeat;
		background-size: cover;
	}
	
	// HERO Program page, bottom row
	&.row-highlight-hero {
		min-height: 361px; // height of BG img
		background: url("#{$imgsPath}/row-highlight-hero.jpg") bottom center no-repeat;
		background-size: cover;

		.title-lrg {
			color: $color-grey-6;
		}
	}

	&.slideshow-careers {
		border-bottom: 1px solid $color-grey-e;
	}
	
	/* SPECIAL CASE HIGHLIGHTED ROWS
		These needs to live on the .container-inner within the row
		TODO: How do we move these 'inline' on mobile?
		options: create alternate, smaller images, include them inline and hide at medium BP?
	*/
	// careers page
	&.row-highlight-careers-growth {
		.container-inner {
			min-height: 498px;
			background: url("#{$imgsPath}/row-highlight-careers-growth.jpg") center bottom no-repeat;
			background-size: 320px auto;
			
			@include breakpoint(medium) {
				min-height: 548px; // height of BG img
				background-position: top right;
				background-size: auto;
			}
		}
	}
	
	// hero program page
	&.row-highlight-hero-chart {
		.container-inner {
			min-height: 500px;
			background: url("#{$imgsPath}/row-highlight-hero-chart.jpg") center bottom no-repeat;
			background-size: 100%;

			@include breakpoint(medium) {
				background-position: top right;
				background-size: auto;
			}
		}
	}

}

.container-inner { 
	margin: 0 auto;
	padding: 20px 15px;
	@include clearfix;

	// footer area
	&.inner-medium {
		max-width: 1170px; // based on comps
	}

	// header area
	&.inner-large {
		@include breakpoint(medium){
			max-width: 1280px; // based on comps
		}
	}
}

// Rows that contain slideshows need their .container-inners to have more padding on the bottom
// this is due to their ABS POS control-nav that sits at the bottom
.row-has-slideshow .container-inner {
	padding-bottom: 40px;

	// special case for mobile
	.col-right {
		text-align: center;
	}

	@include breakpoint(medium) {
		.col-right {
			text-align: left;
		}
	}
}

// attributes for columns
.col-centered {
	text-align: center;
}

/* Grid Setup, at medium breakpoint
------------------------------------------------------------------------------*/
@include breakpoint(medium) {

	.container-overall {}

	// Default Container inners
	.container-inner {
		padding: 20px 30px;
		max-width: 1030px; // gives us an internal of 970, which comes from comps
	}

	// we have WAY more padding on .container-inner's that appear within the general page content
	.container-page .container-inner {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.container-page .slideshow-careers .container-inner {
		padding-bottom: 0;
	}

	.col-right,
	.col-left {
		display: inline-block;
		width: 47.5%;
		vertical-align: top;
	}
	
	// All left and right columns default to text-align-left at Medium BP
	// unless they fall within a .col-centered
	.col-centered {
		.col-right,
		.col-left {
			text-align: center;
		}
	}

	.col-left {
		margin-right: 1.5%;
	}

	.col-right {
		margin-left: 1.5%;
	}

	// special handling of .col-left and .col-right for .slideshow-careers row
	.slideshow-careers {
		@include breakpoint(mediumToLarge) {
			.col-left {
				margin-right: 0;
				width: 40%;
			}

			.col-right {
				width: 51%;
			}

			.title-med {
				font-size: 26px;
			}
			
			p.copy-lrg {
				font-size: 16px;
				line-height: 21px;
			}

			.flex-control-nav {
				bottom: 14px;
				left: 42.3%;
			}
		}

		@include breakpoint(xl) {
			.col-right {
				width: 45%;
			}
		}

	}

	// 3-across columns
	.col-3 {
		display: inline-block;
		float: left;
		width: 30%;
		margin: 0 3% 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	// Gradient backgrounds, as seen on the Careers page,
	// under 'we take care of our own'
	.col-gradient-bottom-right {
		background: linear-gradient(135deg, rgba($color-white, 1) 0%, rgba($color-off-white, 1) 75%);
	}
	
	.col-gradient-top-left {
		background: linear-gradient(135deg, rgba($color-off-white, 1) 0%, rgba($color-white, 1) 75%); 
	}

}
