.lay-header {
	border-bottom: 1px solid $color-grey-c;
	position: fixed;
	top: 0;
	z-index: 400;
	width: 100vw; // this needs to be viewport width, otherwise it can grow way too wide
	height: 100px;
	padding-top: 20px; // + .container-inner = 40 total, as per comps
	background-color: $color-white;
	background-color: rgba($color-white, .95); // Let just a bit show through as you're scrolling
	text-align: center;
}

.lay-logo {
	display: inline-block;
	text-indent: -9999px;
	width: 80%;
	width: 232px;
	height: 26px;
	max-width: 376px;
	background: url("#{$imgsPath}/renovate-america-logo.png") center center no-repeat transparent;
	background-size: 100%;
	
	// slightly smaller logo at medium BP and above
	@include breakpoint(medium) {
		width: 40%;
		height: 15px;
		float: left;
		background-size: contain;
		background-position: left center;
	}

	.lt-ie9 & {
		@include size(376px, 26px);	
	}
}