/*
	All Hero areas.

*/

// Available vars:
$hero-title-margin-top: 0;
$hero-title-margin-top-desktop: 70px;

.lay-hero {
	background: url("#{$imgsPath}/hero-home.jpg") center center no-repeat transparent;
	background-size: cover;
	//min-height: 550px; // default

	@include breakpoint(medium) {
		background-position: center top;
		min-height: 550px; // default
	}
	
	.hero-title {
		color: $color-off-white;
		font-family: $stack-emeric-light;
		font-size: 46px;
		line-height: 46px;
		font-weight: normal;
		text-transform: uppercase;
		margin: $hero-title-margin-top 0 20px;
		@include font-rendering;

		@include breakpoint(medium) {
			width: 80%;
			margin: $hero-title-margin-top-desktop 0 20px;
			font-size: 90px;
			line-height: 90px;
			@include text-shadow;
		}
	}
	
	.hero-more {
		font-family: $stack-emeric-light;
		font-size: 21px;
		line-height: 24px;
		color: $color-off-white;
		margin-bottom: 30px;
		@include font-rendering;
		
		@include breakpoint(medium) {
			width: 75%;
			font-size: 24px;
			line-height: 40px;
			@include text-shadow;
		}
	}
	
	&.hero-home {
		@include breakpoint(medium) {
			min-height: 770px;
		}
	}

	/* hero - CAREERS */
	&.hero-careers {
		background-image: url("#{$imgsPath}/hero-careers.jpg");

		@include breakpoint(medium) {
			.hero-more {
				max-width: 330px;	
			}
		}
	}

	&.hero-hero {
		background-image: url("#{$imgsPath}/hero-hero-program.jpg");

		.hero-logo {
			width: 98px;
			height: 34px;
			// same margins as .hero-title above
			margin-top: $hero-title-margin-top;
			background: url("#{$imgsPath}/logo-hero.svg") 0 0 no-repeat transparent;
			background-size: 98px 34px;

			@include breakpoint(medium) {
				margin-top: $hero-title-margin-top-desktop;
				width: 147px;
				height: 51px;
				background-size: 147px 51px;
			}

			.lt-ie9 & {
				background: url("#{$imgsPath}/logo-hero-fallback.png") 0 0 no-repeat transparent;
			}
		}

		.hero-title {
			margin-top: 20px;
			text-shadow: none;
			color: $color-grey-6;
		}
	}

	&.hero-team {
		background-image: url("#{$imgsPath}/hero-team.jpg");		
	}

	&.hero-news {
		min-height: 0;
		background-image: none;
		background-color: $color-off-white;
		text-align: center;
		font-size: 48px;
		text-shadow: none;

		.hero-title {
			color: $color-grey-6;
			font-size: 46px;
			margin: 14px 0 14px 0;
			// if there's no .hero-more below it, use a margin-bottom of 4px

			a,
			a:link,
			a:visited {
				color: $color-grey-6;
				text-decoration: none;
			}

			a:hover,
			a:active {
				color: $color-grey-6;
				text-decoration: none;
			}
		}

		.hero-more {
			color: $color-grey-6;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 6px;
		}

		@include breakpoint(medium) {
			.hero-title {
				width: 100%;
				font-size: 48px;
				text-shadow: none;
				line-height: normal;
				margin: 14px 0 4px 0;
			}

			.hero-more {
				width: auto;
				text-shadow: none;
				font-size: 18px;
				line-height: normal;
				margin-bottom: 6px;
			}

		}
	}
}