.lay-footer-sub {
	display: none;

	@include breakpoint(medium) {
		display: block;
	}
}

.lay-footer {
	background-color: $color-grey-dark;
	color: $color-grey-9;
	font-family: $stack-emeric-light;
	font-size: 18px;
	line-height: 18px;
	padding: 20px 0;

	a,
	a:link,
	a:visited {
		color: $color-grey-9;
		text-decoration: none;
	}

	a:hover,
	a:active,
	a:focus,
	a.is-current {
			color: $color-white;
		}
}

.lay-footer-col-wrap {
	width: 100%;
	display: inline-block;
	margin-bottom: 40px;

	.col-left,
	.col-right {
		text-align: left;
	}

	@include breakpoint(medium) {
		float: right;
		width: 67%;
		margin-left: 3%;
		margin-bottom: 0;
	}
}

.lay-footer-sub {
	background: url("#{$imgsPath}/lay-footer-sub-bg.png") 0 0 $color-grey-darkest;
	background-size: 100% 100%;
	color: $color-grey-9;
	font-size: 18px;
	line-height: 18px;

	// adjust inner-medium to remove padding-top and padding-bottom
	.inner-medium {
		background-color: $color-grey-darkest;
		padding: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0; // allow as much room as possible to help prevent wrapping
	}
}

// Mobile push menu version of .list-foot is found in _nav.scss
.list-foot {
	@include list-reset;

	li {
		margin-bottom: 6px;
	}
}

.list-foot-stats {
	@include list-reset;
	font-family: $stack-emeric-regular;
	font-size: 14px;
	@include clearfix;
	
	li {
		display: inline-block;
		float: left;
		width: 25%;
		// height: 30px;
		// line-height: 30px;
		// replicate the usual .container-inner padding top and bottom here
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		
		// will this need to grow vertically?
		&.stat-intro {
			width: 23%;
			margin-right: 2%;
			background: url("#{$imgsPath}/stat-intro-bg-big.svg") no-repeat right center transparent;
			// background-size: auto 100%;
		}

		&.stat-create {
			width: 20%;
			padding-left: 33px;
			background: url("#{$imgsPath}/icon-briefcase.svg") no-repeat 0 18px transparent;
		}
		&.stat-reduced {
			width: 28%;
			padding-left: 36px;
			background: url("#{$imgsPath}/icon-cloud.svg") no-repeat left center transparent;
		}
		&.stat-saved {
			padding-left: 26px;
			background: url("#{$imgsPath}/icon-bolt.svg") no-repeat left center transparent;
		}

	}

	strong {
		font-family: $stack-emeric-semi-bold;
	}
}