/* CTA LAYOUTS extend with .cta-xxx classes */
.lay-cta {}

.cta-energy {
	
	.cta-title {
		display: inline-block;
		color: $color-white;	
		font-family: $stack-emeric-thin;
		border-bottom: 1px solid $color-white;
		margin: 0 0 10px;
		@include font-rendering;
		font-size: 40px;

		@include breakpoint(medium){
			font-size: 108px;
			margin-bottom: 30px;
		}
	}

	.cta-title-sub {
		color: $color-white;	
		font-family: $stack-emeric-thin;
		margin: 0;
		@include font-rendering;
		font-size: 40px;
		font-size: 20px;

		@include breakpoint(medium){
			font-size: 48px;
		}
		
	}
}

/* As seen on the careers page, 'We Take Care of Our Own' section */
.cta-take-care {

	@include breakpoint(medium) {
		margin-top: 30px;
	}

	.col-left,
	.col-right {
		margin: 0;
		padding: 20px 15px; // just like .container-inners

		@include breakpoint(medium) {
			padding: 35px 0 50px;			
		}
	}

	.copy-med {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;

		@include breakpoint(medium){
			width: 75%;
		}
	}

	img {
		margin-bottom: 18px;
	}
}

.cta-stat-head {
	display: none;
	
	@include breakpoint(medium) {
		display: block;
	}
}
.cta-stat {
	display: none;
	width: 30%;
	margin: 0 3% 0 0;
	text-align: center;
	@include clearfix;

	@include breakpoint(medium) {
		display: inline-block;
	}
	
	.stat-wrap {
		position: relative;
		display: block;
		@include clearfix;
	}

	.stat-content {
		position: absolute;
		left: 0;
		right: 0;

		.stat-result {
			font-size: 80px;
			color: $color-green;
			font-family: $stack-emeric-light;
			line-height: 70px;
			margin-bottom: 0;

			span {
				font-size: 40px;
			}
		}
	}

	#stat-four,
	#stat-five,
	#stat-six {
		display: none;
	}

}