.lay-news {
	max-width: 1030px;
	margin: 0 auto;
	// same left &right padding as our main grid .container-inner
	padding: 20px 15px;

	@include clearfix;

	@include breakpoint(medium) {
		padding: 70px 30px;
	}

	.col-left-news {
		
		@include breakpoint(medium) {
			display: inline-block;
			width: 65%;
			float: left;
		}
	}

	.col-right-news {
		
		@include breakpoint(medium) {
			display: inline-block;
			width: 25%;
			float: right;
		}

		.lay-news-search {
			display: none;

			@include breakpoint(medium) {
				display: block;
			}
		}
	}

	.list-archives {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}

	img.img-header {
		margin-bottom: 12px;
		
		@include breakpoint(medium) {
			margin-bottom: 30px;
		}
	}

	// article page
	&.lay-news-item {
		max-width: 830px; // 770 interior

		img.img-header {
			margin-bottom: 25px;
			
			@include breakpoint(medium){
				margin-bottom: 50px;
			}
		}

		p {
			font-family: $stack-emeric-light;
			color: $color-grey-6;
		}
	}
}


/* Each news item block on the landing page uses this */
.lay-news-brief {
	margin-bottom: 40px;

	@include breakpoint(medium){
		margin-bottom: 80px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	a,
	a:link,
	a:visited {
		text-decoration: none;
	}
}

.news-date {
	font-size: 14px;
	color: $color-grey-8;
	font-family: $stack-emeric-light;
	font-style: italic;
	margin: 0 0 6px;
}

.news-title {
	font-size: 24px;
	color: $color-blue;
	font-family: $stack-emeric-light;
	text-transform: uppercase;
	margin: 0 0 12px;
}

// See _fonts.scss for .news-title-btn

.news-title-sm {
	font-size: 16px;
	color: $color-blue;
	font-family: $stack-emeric-light;
	text-transform: uppercase;
	margin: 20px 0 0;
}

.news-posted-in {
	color: $color-grey-6;
	font-size: 14px;
	font-family: $stack-emeric-light;
	margin: 12px 0 25px;

	@include breakpoint(medium){
		margin-bottom: 55px;	
	}
}

.news-excerpt {
	color: $color-grey-6;
	font-size: 16px; // is it 16 elsewhere?
	font-size: 14px; // news landing page
	font-family: $stack-emeric-light;
	margin: 0 0 20px;

	@include breakpoint(medium) {
		margin-bottom: 40px;
	}
}

.news-more {
	font-family: $stack-emeric-light;
	font-size: 14px;
	margin: 0;
		
	a,
	a:link,
	a:visited {
		text-transform: uppercase;	
		text-decoration: none;
		color: $color-grey-6;
	}

	a:hover,
	a:active {
		color: $color-blue;
	}

	span {
		font-family: "Zapf Dingbats";
	}
	
}

.list-news-archives {
	@include list-reset;
	margin: 14px 0 0 18px;
	
	li {
		margin-bottom: 12px;

		a,
		a:link,
		a:visited {
			text-decoration: none;
			color: $color-grey-8;
			font-size: 12px;
			text-transform: uppercase;
		}

		a:hover,
		a:active,
		a.is-current {
			color: $color-blue;
		}
	}
}

.lay-news-archives {
	margin-top: 4px;
	
}