/*
For use with on-media-query
https://github.com/JoshBarr/on-media-query
*/
html {
	font-family: 'mobile';
}

@media \0screen {
	html {  /* IE8 */
		font-family: 'desktop'
	}
}

// Defaul layout and body setup, along with some utility classes
html {
  box-sizing: border-box;
}

/* Queries for supported browsers.
For use with on-media-query
https://github.com/JoshBarr/on-media-query      
----------------------------------- */
html {
	// default to mobile BP in on-media-query
	font-family: "mobile";

	@include breakpoint(medium){
		font-family: "desktop";
	}
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); //hides webkit/ios taphighlight color
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	background-color: $color-white;
	color: $color-black;
	font: normal 16px/normal $stack-sans;
	position: relative; // needed for push-menu on mobile
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	outline-style: none;
	transition: all .15s ease-out;
}

a:visited {
	background-color: transparent; // IE 10 needs this
}

.clearfix {
	@include clearfix;
}

.img-scale {
	width: 100%;
	height: auto;
}

.img-center {
	display: block;
	margin: 0 auto;
	max-width: 100%; // let these scale, but only on mobile

	@include breakpoint(medium) {
		width: auto;
	}
}

.is-mobile {
	@include breakpoint(medium) {
		display: none;
	}
}

.is-desktop {
	display: none;
	
	@include breakpoint(medium) {
		display: block;
	}
}

// Used with fitvids
.video-wrap {

}
