.list-media {
	@include list-reset;
	@include clearfix;
	margin-top: 0;

	@include breakpoint(medium){
		height: 330px; // TODO: fine tune this;
		margin-top: 60px;
	}

	li {
		display: block;
		position: relative;
		height: 100%;
		padding: 0; // Keep padding on media-content, below
		text-align: center;
		transition: all .15s ease-out;

		&:last-child,
		&:nth-child(3n+3) {
			border-right-style: none;
		}

		// the final 3
		&:nth-last-child(-n+3) {
			border-bottom-style: none;
		}

		.media-img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// Hide inline background-images by default.
			// Reshow them at medium BP, below
			background-position: -200% center;
			background-size: auto;
			background-repeat: no-repeat;
			background-color: transparent;
		}

		.media-content {
			transition: all .15s ease-out;
			padding: 0 26px 20px;
			background-color: $color-white; // Hide bg images
			position: relative;
			
			@include breakpoint(medium) {
				padding: 26px;
				margin-top: -9px;
				opacity: 0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			}
		}

		
		@include breakpoint(medium) {
			float: left;
			width: 33%;
			border-right: 1px solid $color-blue-light-border;
			border-bottom: 1px solid $color-blue-light-border;
			min-height: 330px;
			
			// BG images are set inline.
			// logo images need to be centered and 300px wide (any height)		
			.media-img {
				background-position: center center;
				background-size: 100% auto;
			}
			
			&:hover,
			&.is-current {
				cursor: pointer;
				background-color: $color-off-white;
				transition: all .15s ease-out;

				.media-content {
					opacity: 1;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					background-color: $color-off-white;
					margin-top: 0;
				}
			}
		}
	}
}

.media-title {
	color: $color-grey-8;
	font-size: 24px;
	font-family: $stack-emeric-thin;
	margin: 0 0 6px;
}

.media-cite {
	color: $color-grey-8;
	font-size: 14px;
	font-family: $stack-emeric-thin;
	margin: 0 0 18px;
}

.media-copy {
	color: $color-green;
	font-family: $stack-emeric-light;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 0;
}

// Special media items
.media-copy-special {
	color: $color-green;
	font-family: $stack-emeric-light;
	font-size: 20px;
	line-height: 32px;
	margin: 0;
}

.media-cite-special {
	color: $color-grey-8;
	font-size: 16px;
	font-family: $stack-emeric-book;
	margin-bottom: 0;
}
