.list-awards {
	@include list-reset;
	@include clearfix;
	margin-top: 40px;

	li {
		display: block;
		padding-left: 28px;
		background: url("#{$imgsPath}/icon-award.svg") 0 3px no-repeat transparent;
		margin: 0 0 36px;

		@include breakpoint(medium) {
			float: left;
			width: 30%;
			margin-right: 1%;

			&:first-child,
			&:nth-child(4n+4) {
				clear: both;
				width: 37%;
			}

			// This wouldn't work so well if more
			// awards were added / removed
			&:last-child,
			&:nth-child(4n) {
				margin-bottom: 0;
			}
		}
	}
}

.award-title {
	color: $color-grey-6;
	font-size: 14px;
	font-family: $stack-emeric-medium;
	margin: 0;
	text-transform: uppercase;
}

.award-cite {
	color: $color-grey-8;
	font-size: 14px;
	font-family: $stack-emeric-book;
	margin: 0;
}
