.list-social-head {
	font-size: 14px;
	color: $color-grey-6;
	font-family: $stack-emeric-semi-bold;
	text-transform: uppercase;
	margin: 25px 0 16px;

	@include breakpoint(medium) {
		margin-top: 50px;
	}
}

.list-social {
	@include list-reset;
	@include clearfix;
	margin-bottom: 12px;

	@include breakpoint(medium) {
		margin-bottom: 0;
	}

	li {
		display: block;
		float: left;
		@include size(48px, 48px);
		background: url("#{$imgsPath}/icon-social-sprite.png") 0 0 no-repeat transparent;
		opacity: .9;
		text-indent: -9999px;
		transition: all .15s ease-out;
		margin-right: 16px;

		&.social-tw {
			background-position: -64px 0;
		}
		
		&.social-li {
			background-position: -127px 0;
		}
		
		&.social-pin {
			background-position: -190px 0;
		}

		&:hover {
			opacity: 1;
			transition: all .15s ease-out;
		}

		a {
			display: block;
			@include size(100%, 100%);
		}

		// hide the default AddThis buttons that otherwise would appear on top
		// of our custom imgs
		span {
			display: none !important;
		}

	}
}