.list-team {
	@include list-reset;
	@include clearfix;
	margin: 0 auto;
	display: none;
	margin-top: 12px;
	
	&.is-open {
		display: block;
	}
	
	@include breakpoint(medium) {
		display: block;
		margin-top: 0;
	}

	li {
		display: inline-block;
		// @include size(171px, 224px);
		float: left;
		border: 1px solid $color-grey-light;
		position: relative;

		// margin: 0 2.3% 2.3% 0;
		margin: 0 0 4% 0;
		width: 48%;

		&:nth-child(even) {
			margin-right: 0;
			float: right;
		}
		
		// always 6 across here
		@include breakpoint(medium) {
			margin: 0 1% 1% 0;
			width: 15.6%;

			// reset our even children
			&:nth-child(even) {
				margin-right: 1%;
				float: left;
			}
		}
		
		img {
			// position: absolute;
			display: block;
			width: 100%;
			height: auto;
		}

		.team-content {
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;
			background-color: $color-white;
			background-color: rgba($color-white, .8);
			transition: all .15s ease-out;
			margin-top: -9px;

		}

		.team-detail-container {
			display: none;
		}

		&:hover {
			cursor: pointer;
			
			.team-content {
				transition: all .15s ease-out;
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
				margin-top: 0;

			}
		}
	}

	.team-name {
		font-family: $stack-emeric-light;
		font-size: 21px;
		font-weight: normal;
		color: $color-grey-8;
		margin: 50% 0 10px;
	}

	.team-title {
		font-family: $stack-emeric-regular;
		font-size: 15px;
		font-weight: normal;
		color: $color-grey-8;
		margin: 0;
	}
}

/* Overlays for Execs */
.lay-team-detail {
	text-align: center;

	.team-detail-name {
		font-family: $stack-emeric-regular;
		color: $color-blue-deep;
		font-size: 24px;
		text-transform: uppercase;
		margin: 0;
	}
	
	.team-detail-title {
		font-family: $stack-emeric-light;
		color: $color-grey-8;
		font-size: 15px;
		margin: 0;
	}

	.team-detail-quote {
		font-family: $stack-emeric-light;
		color: $color-green;
		font-size: 24px;
		margin: 20px 0;
	}

	.team-detail-more {
		&:last-child {
			margin-bottom: 0;
		}
	}
}