/* ==========================================================================
	 Navigation elements
	 ========================================================================== */
.nav-global {
	@include list-reset;
	display: none;
	float: right;

	li {
		float: left;
		margin-right: 28px;

		&:last-child {
			margin-right: 0;
		}
		
		a,
		a:link,
		a:visited {
			text-decoration: none;
			color: $color-grey-8;
		}

		a:hover,
		a:active,
		a.is-current {
			color: $color-blue;
		}
	}

	// Show nav-global at medium BP
	@include breakpoint(medium) {
		display: block;
	}

	&.global-mobile {
		margin-top: 40px;
		display: block;
		float: none;
		top: 0;
		z-index: 1000;
		
		li {
			float: none;
			margin-bottom: 18px;
			margin-right: 0;
			
			a,
			a:link,
			a:visited {
				font-family: $stack-emeric-light;
				font-size: 22px;
				text-transform: uppercase;
				display: block;

				&.is-lower {
					text-transform: none;
				}
			}

			a:hover,
			a:active,
			a.is-current {
				color: $color-grey-5;
			}
		}
	}

	&.mobile-legal {
		margin-bottom: 40px;

		li {
			margin-bottom: 12px;

			a,
			a:link,
			a:visited {
				text-transform: none;
				font-size: 18px;
			}
		}
	}
}

/* Hamburger icon */
.nav-global-mobile {
	display: block;
	float: right;
	// @include size(32px, 30px);
	@include size(26px, 26px);
	background: url("#{$imgsPath}/mobile-nav.svg") 0 0 no-repeat transparent;
	background-size: 26px auto;

	// hide nav-mobile at medium BP
	@include breakpoint(medium) {
		display: none;
	}
}

/* Team page nav */
.lay-nav-sub {
	text-align: center;
	padding: 30px 0 0;
	display: none;

	@include breakpoint(medium) {
		display: block;
	}
}

.nav-sub {
	@include list-reset;
	margin: 0 auto;

	li {
		display: inline-block;
		font-size: 15px;
		font-family: $stack-emeric-semi-bold;
		text-transform: uppercase;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
		
		a,
		a:link,
		a:visited {
			text-decoration: none;
			color: $color-grey-8;
		}

		a:hover,
		a:active,
		a.is-current {
			color: $color-blue;
		}

	}
}

/* Mobile Push Menus */
.nav-push-menu {
	position: fixed;
	top: 0;
	background-color: #eaeaea;
	height: 100%;
	width: 240px;
	width: 260px;
	padding: 40px 28px 16px;
	text-align: left;
	overflow-y: auto;

	.lay-logo {
		width: 100%;
	}

	.list-foot {
		color: $color-grey-8;
		font-family: $stack-emeric-light;

		li {
			margin-bottom: 0;

			a,
			a:link,
			a:visited {
				text-decoration: none;
				color: $color-grey-8;
			}
			a:hover,
			a:active {
				color: $color-grey-5; // same as global-mobile, above
			}
		}
	}
}

/* Vertical menu that slides from the left or right */

.nav-push-right {
	right: -240px;
	right: -260px;
}

.nav-push-right.nav-push-open {
	right: 0px;
}

/* Push classes applied to the body */

.nav-push-pushable {
	overflow-x: hidden;
	left: 0;
}

.nav-push-toleft {
	left: -260px;
}

.nav-push-menu,
.nav-push-pushable {
	transition: all 0.3s ease;
}
