// Variables and mixins

// imgs path: url("#{$imgsPath}/foo.png")
$imgsPath: 	"/assets/images";

// reset default ul/ol list styles
@mixin list-reset {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin list-diamonds {
	list-style: none outside;
	margin: 0 0 em(18) em(18);
	padding: 0;

	li {
		position: relative;

		&:before {
			content: "\2666";
			position: absolute;
			left: -14px;
		}
	}
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

// Text shadow default, default to black or pass in a color
@mixin text-shadow($color: $color-black) {
	text-shadow: 1px 1px $color;
}

/*
	Triangles follow same nomenclature as: http://apps.eky.hk/css-triangle-generator/;
	 ========================================================================== */
@mixin triangle ($direction: left, $color: $color-black, $width: 6px, $height: 12px) {
	@include size(0,0);
	border-style: solid;
	@if $direction == 'bottom' {
		$width: $width / 2;
		border-width: $height $width 0 $width;
		border-color: $color transparent transparent transparent;
	}
	@if $direction == 'bottom-right' {
		border-width: 0 0 $height $width;
		border-color: transparent transparent $color transparent;
	}
	@if $direction == 'left' {
		$height: $height / 2;
		border-width: $height $width $height 0;
		border-color: transparent $color transparent transparent;
	}
	@if $direction == 'left-inverse' {
		$height: $height / 2;
		border-width: $height $width $height 0;
		border-color: $color transparent $color transparent;
	}
	@if $direction == 'right' {
		$height: $height / 2;
		border-width: $height 0 $height $width;
		border-color: transparent transparent transparent $color;
	}
	@if $direction == 'right-inverse' {
		$height: $height / 2;
		border-width: $height 0 $height $width;
		border-color: $color transparent $color transparent;
	}
	@if $direction == 'top' {
		$height: $height / 2;
		border-width: 0 $height $width $height;
		border-color: transparent transparent $color transparent;
	}
	@if $direction == 'top-left' {
		border-width: $height $width 0 0;
		border-color: $color transparent transparent transparent;
	}
	@if $direction == 'top-right' {
		border-width: $height 0 0 $width;
		border-color: $color transparent transparent transparent;
	}
	@if $direction == 'bottom-inverse' {
		$height: $height / 2;
		border-width: 0 $height $width $height;
		border-color: transparent $color transparent $color;
	}
}

/*
	 IE scrollbar mixin
	 ========================================================================== */
@mixin scrollbars ($trackColor: #f1f1f1, $thumbColor: $color-note, $width: 8px) {
	scrollbar-face-color: $thumbColor;
	scrollbar-arrow-color: $thumbColor;
	scrollbar-highlight-color: $trackColor;
	scrollbar-track-color: $trackColor;
	scrollbar-shadow-color: $trackColor;
	scrollbar-darkshadow-color: $trackColor;

	&::-webkit-scrollbar {
			width: $width;
			height: $width;
	}

	&::-webkit-scrollbar-track {
			border-radius: 0;
			background: $trackColor;
	}

	// grabber
	&::-webkit-scrollbar-thumb {
			border-radius: 0px;
			background-color: $thumbColor;
	}
}
