			<footer class="lay-footer">
				<div class="container-inner inner-medium">
					
					<div class="lay-footer-col-wrap">
						<div class="col-left">
							<ul class="list-foot">
								<li><a href="hero-program.html">HERO Program</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="careers.html">Careers</a></li>
								<li><a href="news.html">News</a></li>
								
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms.html">Terms of Use</a></li>
							</ul>
						</div>
						<div class="col-right">
							<ul class="list-foot">
								<li><a href="https://www.linkedin.com/company/renovate-america" target="_blank">LinkedIn</a></li>
								<li><a href="https://twitter.com/renovateamerica" target="_blank">Twitter</a></li>
							</ul>
						</div>
					</div>

					<div class="col-3">
						<ul class="list-foot">
							<li>15073 Avenue of Science, Ste200</li>
							<li>San Diego, CA 92128</li>
							<li>Tel: <a href="tel:8777474889">(877) 747-4889</a></li>
							<li><a href="mailto:info@renovateamerica.com">info@renovateamerica.com</a></li>
						</ul>
						
						<p class="text-copyright">&copy; 2015 Renovate America Inc.<br>All Rights Reserved.</p>
					</div>

				</div>
			</footer>

			<footer class="lay-footer-sub">
				<div class="container-inner inner-medium">
					<ul class="list-foot-stats">
						<li class="stat-intro">Renovate America has helped</li>
						<li class="stat-create">Create <strong>5,199,200</strong> jobs</li>
						<li class="stat-reduced">Reduced <strong>7,888,454,111</strong> lbs of CO2</li>
						<li class="stat-saved">Saved <strong>$</strong><strong>5,721,900,000</strong> on energy bills</li>
					</ul>
				</div>
			</footer>

		</div><!--/.container-overall-->
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/scripts/plugins.js"></script>
        <script src="/scripts/main.js"></script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5074896038c0fae8" async="async"></script>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>