/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  /*font-size: 2em;*/
  /*margin: 0.67em 0;*/
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	Triangles follow same nomenclature as: http://apps.eky.hk/css-triangle-generator/;
	 ========================================================================== */
/*
	 IE scrollbar mixin
	 ========================================================================== */
/* Breakpoint settings and mixins */
/* Grid Setup, default to mobile.
 - generic rows
 - highlighted rows
 	- special highlighted rows (ie: row-highlight-map)

 The News page contains columns unique to news, see _lay_news.scss
------------------------------------------------------------------------------*/
/* opened in header.html, closed in footer.html */
.container-overall {
  min-width: 320px;
  width: 100%;
  margin-top: 100px;
}

.row {
  /* SPECIAL CASE HIGHLIGHTED ROWS
  	These needs to live on the .container-inner within the row
  	TODO: How do we move these 'inline' on mobile?
  	options: create alternate, smaller images, include them inline and hide at medium BP?
  */
}
.row.row-highlight {
  background-color: #f9f9f9;
}
.row.row-highlight .btn {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .row.row-stats .container-inner {
    padding-bottom: 240px;
  }
}
.row.row-highlight-blue {
  background-color: #93aab7;
}
.row.row-highlight-map {
  background: url("/assets/images/row-highlight-map.jpg") center center no-repeat;
  background-size: cover;
}
.row.row-highlight-hero {
  min-height: 361px;
  background: url("/assets/images/row-highlight-hero.jpg") bottom center no-repeat;
  background-size: cover;
}
.row.row-highlight-hero .title-lrg {
  color: #666;
}
.row.slideshow-careers {
  border-bottom: 1px solid #e4e4e4;
}
.row.row-highlight-careers-growth .container-inner {
  min-height: 498px;
  background: url("/assets/images/row-highlight-careers-growth.jpg") center bottom no-repeat;
  background-size: 320px auto;
}
@media (min-width: 768px) {
  .row.row-highlight-careers-growth .container-inner {
    min-height: 548px;
    background-position: top right;
    background-size: auto;
  }
}
.row.row-highlight-hero-chart .container-inner {
  min-height: 500px;
  background: url("/assets/images/row-highlight-hero-chart.jpg") center bottom no-repeat;
  background-size: 100%;
}
@media (min-width: 768px) {
  .row.row-highlight-hero-chart .container-inner {
    background-position: top right;
    background-size: auto;
  }
}

.container-inner {
  margin: 0 auto;
  padding: 20px 15px;
}
.container-inner:after {
  content: "";
  display: table;
  clear: both;
}
.container-inner.inner-medium {
  max-width: 1170px;
}
@media (min-width: 768px) {
  .container-inner.inner-large {
    max-width: 1280px;
  }
}

.row-has-slideshow .container-inner {
  padding-bottom: 40px;
}
.row-has-slideshow .container-inner .col-right {
  text-align: center;
}
@media (min-width: 768px) {
  .row-has-slideshow .container-inner .col-right {
    text-align: left;
  }
}

.col-centered {
  text-align: center;
}

/* Grid Setup, at medium breakpoint
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .container-inner {
    padding: 20px 30px;
    max-width: 1030px;
  }

  .container-page .container-inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-page .slideshow-careers .container-inner {
    padding-bottom: 0;
  }

  .col-right,
  .col-left {
    display: inline-block;
    width: 47.5%;
    vertical-align: top;
  }

  .col-centered .col-right,
  .col-centered .col-left {
    text-align: center;
  }

  .col-left {
    margin-right: 1.5%;
  }

  .col-right {
    margin-left: 1.5%;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 980px) {
  .slideshow-careers .col-left {
    margin-right: 0;
    width: 40%;
  }
  .slideshow-careers .col-right {
    width: 51%;
  }
  .slideshow-careers .title-med {
    font-size: 26px;
  }
  .slideshow-careers p.copy-lrg {
    font-size: 16px;
    line-height: 21px;
  }
  .slideshow-careers .flex-control-nav {
    bottom: 14px;
    left: 42.3%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .slideshow-careers .col-right {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .col-3 {
    display: inline-block;
    float: left;
    width: 30%;
    margin: 0 3% 0 0;
  }
  .col-3:last-child {
    margin-right: 0;
  }

  .col-gradient-bottom-right {
    background: linear-gradient(135deg, white 0%, #f9f9f9 75%);
  }

  .col-gradient-top-left {
    background: linear-gradient(135deg, #f9f9f9 0%, white 75%);
  }
}
/*div { font-family:"FS Emeric Light", Verdana, sans-serif; font-weight:200; font-style:normal; }
div { font-family:"FS Emeric Thin", Verdana, sans-serif; font-weight:100; font-style:normal; }
div { font-family:"FS Emeric Medium", Verdana, sans-serif; font-weight:500; font-style:normal; }
div { font-family:"FS Emeric Book", Verdana, sans-serif; font-weight:normal; font-style:normal; }
div { font-family:"FS Emeric Semi Bold", Verdana, sans-serif; font-weight:600; font-style:normal; }
div { font-family:"FS Emeric Regular", Verdana, sans-serif; font-weight:normal; font-style:normal; }
*/
/* Generic typesetting */
/* TITLES */
.title-lrg {
  color: #6db6e1;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin: 0 0 12px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  .title-lrg {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.title-med {
  color: #888;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 12px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  .title-med {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.title-sm {
  color: #6db6e1;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 12px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.title-sm-reg-btn,
.news-title-btn {
  text-transform: uppercase;
  border: 1px solid #acacac;
  font-family: "FS Emeric Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #888;
  margin: 0;
  padding: 12px;
  background: url("/assets/images/icon-arrow-up.svg") no-repeat 94% center #ebebeb;
}
.title-sm-reg-btn.is-open,
.news-title-btn.is-open {
  background-image: url("/assets/images/icon-arrow-down.svg");
}
.title-sm-reg-btn:hover,
.news-title-btn:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .title-sm-reg-btn:hover,
  .news-title-btn:hover {
    cursor: auto;
  }
}
@media (min-width: 768px) {
  .title-sm-reg-btn,
  .news-title-btn {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-transform: none;
    border-style: none;
    font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 0 0 12px;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #888;
  }
  .title-sm-reg-btn.is-open,
  .news-title-btn.is-open {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .news-title-btn {
    font-size: 24px;
    color: #5aa4da;
    font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0 0 12px;
  }
}

.title-sm-reg {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 12px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #888;
}

/* COPY */
p.copy-med {
  color: #888;
  font-family: "FS Emeric Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
}
@media (min-width: 768px) {
  p.copy-med {
    line-height: 29px;
  }
}

p.copy-lrg {
  color: #888;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 29px;
}

p.copy-green {
  color: #97c93c;
}

.title-legal {
  font-family: "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #666;
  margin: 12px 0 9px;
  text-transform: uppercase;
}

.text-copyright {
  font-size: 12px;
  margin: 20px 0 0;
  line-height: normal;
}

p,
p.copy-legal,
.list-legal {
  margin-top: 0;
  font-size: 18px;
  color: #888;
  margin-bottom: 14px;
  line-height: 24px;
}

.list-legal {
  padding-left: 0;
  list-style-position: inside;
}
.list-legal a,
.list-legal a:link,
.list-legal a:visited {
  text-decoration: underline;
}

.icon-arrow-down-circle {
  display: block;
  width: 32px;
  height: 32px;
  background: url("/assets/images/icon-arrow-down-circle.svg") no-repeat center center transparent;
  background-size: 32px 32px;
  opacity: .8;
}
.icon-arrow-down-circle:hover {
  opacity: 1;
}

/*
For use with on-media-query
https://github.com/JoshBarr/on-media-query
*/
html {
  font-family: 'mobile';
}

@media \0screen {
  html {
    /* IE8 */
    font-family: "desktop";
  }
}
html {
  box-sizing: border-box;
}

/* Queries for supported browsers.
For use with on-media-query
https://github.com/JoshBarr/on-media-query      
----------------------------------- */
html {
  font-family: "mobile";
}
@media (min-width: 768px) {
  html {
    font-family: "desktop";
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  background-color: #fff;
  color: #000;
  font: normal 16px/normal "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  outline-style: none;
  transition: all .15s ease-out;
}

a:visited {
  background-color: transparent;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.img-scale {
  width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .img-center {
    width: auto;
  }
}

@media (min-width: 768px) {
  .is-mobile {
    display: none;
  }
}

.is-desktop {
  display: none;
}
@media (min-width: 768px) {
  .is-desktop {
    display: block;
  }
}

.lay-header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 400;
  width: 100vw;
  height: 100px;
  padding-top: 20px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.lay-logo {
  display: inline-block;
  text-indent: -9999px;
  width: 80%;
  width: 232px;
  height: 26px;
  max-width: 376px;
  background: url("/assets/images/renovate-america-logo.png") center center no-repeat transparent;
  background-size: 100%;
}
@media (min-width: 768px) {
  .lay-logo {
    width: 40%;
    height: 15px;
    float: left;
    background-size: contain;
    background-position: left center;
  }
}
.lt-ie9 .lay-logo {
  width: 376px;
  height: 26px;
}

/*
	All Hero areas.

*/
.lay-hero {
  background: url("/assets/images/hero-home.jpg") center center no-repeat transparent;
  background-size: cover;
  /* hero - CAREERS */
}
@media (min-width: 768px) {
  .lay-hero {
    background-position: center top;
    min-height: 550px;
  }
}
.lay-hero .hero-title {
  color: #f9f9f9;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 46px;
  line-height: 46px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 20px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  .lay-hero .hero-title {
    width: 80%;
    margin: 70px 0 20px;
    font-size: 90px;
    line-height: 90px;
    text-shadow: 1px 1px #000;
  }
}
.lay-hero .hero-more {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 24px;
  color: #f9f9f9;
  margin-bottom: 30px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  .lay-hero .hero-more {
    width: 75%;
    font-size: 24px;
    line-height: 40px;
    text-shadow: 1px 1px #000;
  }
}
@media (min-width: 768px) {
  .lay-hero.hero-home {
    min-height: 770px;
  }
}
.lay-hero.hero-careers {
  background-image: url("/assets/images/hero-careers.jpg");
}
@media (min-width: 768px) {
  .lay-hero.hero-careers .hero-more {
    max-width: 330px;
  }
}
.lay-hero.hero-hero {
  background-image: url("/assets/images/hero-hero-program.jpg");
}
.lay-hero.hero-hero .hero-logo {
  width: 98px;
  height: 34px;
  margin-top: 0;
  background: url("/assets/images/logo-hero.svg") 0 0 no-repeat transparent;
  background-size: 98px 34px;
}
@media (min-width: 768px) {
  .lay-hero.hero-hero .hero-logo {
    margin-top: 70px;
    width: 147px;
    height: 51px;
    background-size: 147px 51px;
  }
}
.lt-ie9 .lay-hero.hero-hero .hero-logo {
  background: url("/assets/images/logo-hero-fallback.png") 0 0 no-repeat transparent;
}
.lay-hero.hero-hero .hero-title {
  margin-top: 20px;
  text-shadow: none;
  color: #666;
}
.lay-hero.hero-team {
  background-image: url("/assets/images/hero-team.jpg");
}
.lay-hero.hero-news {
  min-height: 0;
  background-image: none;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 48px;
  text-shadow: none;
}
.lay-hero.hero-news .hero-title {
  color: #666;
  font-size: 46px;
  margin: 14px 0 14px 0;
}
.lay-hero.hero-news .hero-title a,
.lay-hero.hero-news .hero-title a:link,
.lay-hero.hero-news .hero-title a:visited {
  color: #666;
  text-decoration: none;
}
.lay-hero.hero-news .hero-title a:hover,
.lay-hero.hero-news .hero-title a:active {
  color: #666;
  text-decoration: none;
}
.lay-hero.hero-news .hero-more {
  color: #666;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .lay-hero.hero-news .hero-title {
    width: 100%;
    font-size: 48px;
    text-shadow: none;
    line-height: normal;
    margin: 14px 0 4px 0;
  }
  .lay-hero.hero-news .hero-more {
    width: auto;
    text-shadow: none;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 6px;
  }
}

/* CTA LAYOUTS extend with .cta-xxx classes */
.cta-energy .cta-title {
  display: inline-block;
  color: #fff;
  font-family: "FS Emeric Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #fff;
  margin: 0 0 10px;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
}
@media (min-width: 768px) {
  .cta-energy .cta-title {
    font-size: 108px;
    margin-bottom: 30px;
  }
}
.cta-energy .cta-title-sub {
  color: #fff;
  font-family: "FS Emeric Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .cta-energy .cta-title-sub {
    font-size: 48px;
  }
}

/* As seen on the careers page, 'We Take Care of Our Own' section */
@media (min-width: 768px) {
  .cta-take-care {
    margin-top: 30px;
  }
}
.cta-take-care .col-left,
.cta-take-care .col-right {
  margin: 0;
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .cta-take-care .col-left,
  .cta-take-care .col-right {
    padding: 35px 0 50px;
  }
}
.cta-take-care .copy-med {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .cta-take-care .copy-med {
    width: 75%;
  }
}
.cta-take-care img {
  margin-bottom: 18px;
}

.cta-stat-head {
  display: none;
}
@media (min-width: 768px) {
  .cta-stat-head {
    display: block;
  }
}

.cta-stat {
  display: none;
  width: 30%;
  margin: 0 3% 0 0;
  text-align: center;
}
.cta-stat:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .cta-stat {
    display: inline-block;
  }
}
.cta-stat .stat-wrap {
  position: relative;
  display: block;
}
.cta-stat .stat-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.cta-stat .stat-content {
  position: absolute;
  left: 0;
  right: 0;
}
.cta-stat .stat-content .stat-result {
  font-size: 80px;
  color: #97c93c;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 70px;
  margin-bottom: 0;
}
.cta-stat .stat-content .stat-result span {
  font-size: 40px;
}
.cta-stat #stat-four,
.cta-stat #stat-five,
.cta-stat #stat-six {
  display: none;
}

.lay-news {
  max-width: 1030px;
  margin: 0 auto;
  padding: 20px 15px;
}
.lay-news:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .lay-news {
    padding: 70px 30px;
  }
}
@media (min-width: 768px) {
  .lay-news .col-left-news {
    display: inline-block;
    width: 65%;
    float: left;
  }
}
@media (min-width: 768px) {
  .lay-news .col-right-news {
    display: inline-block;
    width: 25%;
    float: right;
  }
}
.lay-news .col-right-news .lay-news-search {
  display: none;
}
@media (min-width: 768px) {
  .lay-news .col-right-news .lay-news-search {
    display: block;
  }
}
.lay-news .list-archives {
  display: none;
}
@media (min-width: 768px) {
  .lay-news .list-archives {
    display: block;
  }
}
.lay-news img.img-header {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .lay-news img.img-header {
    margin-bottom: 30px;
  }
}
.lay-news.lay-news-item {
  max-width: 830px;
}
.lay-news.lay-news-item img.img-header {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .lay-news.lay-news-item img.img-header {
    margin-bottom: 50px;
  }
}
.lay-news.lay-news-item p {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}

/* Each news item block on the landing page uses this */
.lay-news-brief {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .lay-news-brief {
    margin-bottom: 80px;
  }
  .lay-news-brief:last-child {
    margin-bottom: 0;
  }
}
.lay-news-brief a,
.lay-news-brief a:link,
.lay-news-brief a:visited {
  text-decoration: none;
}

.news-date {
  font-size: 14px;
  color: #888;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  margin: 0 0 6px;
}

.news-title {
  font-size: 24px;
  color: #5aa4da;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.news-title-sm {
  font-size: 16px;
  color: #5aa4da;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.news-posted-in {
  color: #666;
  font-size: 14px;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 12px 0 25px;
}
@media (min-width: 768px) {
  .news-posted-in {
    margin-bottom: 55px;
  }
}

.news-excerpt {
  color: #666;
  font-size: 16px;
  font-size: 14px;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .news-excerpt {
    margin-bottom: 40px;
  }
}

.news-more {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
.news-more a,
.news-more a:link,
.news-more a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
}
.news-more a:hover,
.news-more a:active {
  color: #5aa4da;
}
.news-more span {
  font-family: "Zapf Dingbats";
}

.list-news-archives {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin: 14px 0 0 18px;
}
.list-news-archives li {
  margin-bottom: 12px;
}
.list-news-archives li a,
.list-news-archives li a:link,
.list-news-archives li a:visited {
  text-decoration: none;
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
}
.list-news-archives li a:hover,
.list-news-archives li a:active,
.list-news-archives li a.is-current {
  color: #5aa4da;
}

.lay-news-archives {
  margin-top: 4px;
}

.lay-footer-sub {
  display: none;
}
@media (min-width: 768px) {
  .lay-footer-sub {
    display: block;
  }
}

.lay-footer {
  background-color: #232323;
  color: #999;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding: 20px 0;
}
.lay-footer a,
.lay-footer a:link,
.lay-footer a:visited {
  color: #999;
  text-decoration: none;
}
.lay-footer a:hover,
.lay-footer a:active,
.lay-footer a:focus,
.lay-footer a.is-current {
  color: #fff;
}

.lay-footer-col-wrap {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}
.lay-footer-col-wrap .col-left,
.lay-footer-col-wrap .col-right {
  text-align: left;
}
@media (min-width: 768px) {
  .lay-footer-col-wrap {
    float: right;
    width: 67%;
    margin-left: 3%;
    margin-bottom: 0;
  }
}

.lay-footer-sub {
  background: url("/assets/images/lay-footer-sub-bg.png") 0 0 #141414;
  background-size: 100% 100%;
  color: #999;
  font-size: 18px;
  line-height: 18px;
}
.lay-footer-sub .inner-medium {
  background-color: #141414;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.list-foot {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.list-foot li {
  margin-bottom: 6px;
}

.list-foot-stats {
  list-style: none outside;
  margin: 0;
  padding: 0;
  font-family: "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.list-foot-stats:after {
  content: "";
  display: table;
  clear: both;
}
.list-foot-stats li {
  display: inline-block;
  float: left;
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.list-foot-stats li.stat-intro {
  width: 23%;
  margin-right: 2%;
  background: url("/assets/images/stat-intro-bg-big.svg") no-repeat right center transparent;
}
.list-foot-stats li.stat-create {
  width: 20%;
  padding-left: 33px;
  background: url("/assets/images/icon-briefcase.svg") no-repeat 0 18px transparent;
}
.list-foot-stats li.stat-reduced {
  width: 28%;
  padding-left: 36px;
  background: url("/assets/images/icon-cloud.svg") no-repeat left center transparent;
}
.list-foot-stats li.stat-saved {
  padding-left: 26px;
  background: url("/assets/images/icon-bolt.svg") no-repeat left center transparent;
}
.list-foot-stats strong {
  font-family: "FS Emeric Semi Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-media {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin-top: 0;
}
.list-media:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .list-media {
    height: 330px;
    margin-top: 60px;
  }
}
.list-media li {
  display: block;
  position: relative;
  height: 100%;
  padding: 0;
  text-align: center;
  transition: all .15s ease-out;
}
.list-media li:last-child, .list-media li:nth-child(3n+3) {
  border-right-style: none;
}
.list-media li:nth-last-child(-n+3) {
  border-bottom-style: none;
}
.list-media li .media-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: -200% center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: transparent;
}
.list-media li .media-content {
  transition: all .15s ease-out;
  padding: 0 26px 20px;
  background-color: #fff;
  position: relative;
}
@media (min-width: 768px) {
  .list-media li .media-content {
    padding: 26px;
    margin-top: -9px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@media (min-width: 768px) {
  .list-media li {
    float: left;
    width: 33%;
    border-right: 1px solid #dcecf5;
    border-bottom: 1px solid #dcecf5;
    min-height: 330px;
  }
  .list-media li .media-img {
    background-position: center center;
    background-size: 100% auto;
  }
  .list-media li:hover, .list-media li.is-current {
    cursor: pointer;
    background-color: #f9f9f9;
    transition: all .15s ease-out;
  }
  .list-media li:hover .media-content, .list-media li.is-current .media-content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background-color: #f9f9f9;
    margin-top: 0;
  }
}

.media-title {
  color: #888;
  font-size: 24px;
  font-family: "FS Emeric Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 6px;
}

.media-cite {
  color: #888;
  font-size: 14px;
  font-family: "FS Emeric Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 18px;
}

.media-copy {
  color: #97c93c;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.media-copy-special {
  color: #97c93c;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

.media-cite-special {
  color: #888;
  font-size: 16px;
  font-family: "FS Emeric Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

.list-awards {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.list-awards:after {
  content: "";
  display: table;
  clear: both;
}
.list-awards li {
  display: block;
  padding-left: 28px;
  background: url("/assets/images/icon-award.svg") 0 3px no-repeat transparent;
  margin: 0 0 36px;
}
@media (min-width: 768px) {
  .list-awards li {
    float: left;
    width: 30%;
    margin-right: 1%;
  }
  .list-awards li:first-child, .list-awards li:nth-child(4n+4) {
    clear: both;
    width: 37%;
  }
  .list-awards li:last-child, .list-awards li:nth-child(4n) {
    margin-bottom: 0;
  }
}

.award-title {
  color: #666;
  font-size: 14px;
  font-family: "FS Emeric Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.award-cite {
  color: #888;
  font-size: 14px;
  font-family: "FS Emeric Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.list-team {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: none;
  margin-top: 12px;
}
.list-team:after {
  content: "";
  display: table;
  clear: both;
}
.list-team.is-open {
  display: block;
}
@media (min-width: 768px) {
  .list-team {
    display: block;
    margin-top: 0;
  }
}
.list-team li {
  display: inline-block;
  float: left;
  border: 1px solid #ebebeb;
  position: relative;
  margin: 0 0 4% 0;
  width: 48%;
}
.list-team li:nth-child(even) {
  margin-right: 0;
  float: right;
}
@media (min-width: 768px) {
  .list-team li {
    margin: 0 1% 1% 0;
    width: 15.6%;
  }
  .list-team li:nth-child(even) {
    margin-right: 1%;
    float: left;
  }
}
.list-team li img {
  display: block;
  width: 100%;
  height: auto;
}
.list-team li .team-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s ease-out;
  margin-top: -9px;
}
.list-team li .team-detail-container {
  display: none;
}
.list-team li:hover {
  cursor: pointer;
}
.list-team li:hover .team-content {
  transition: all .15s ease-out;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  margin-top: 0;
}
.list-team .team-name {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #888;
  margin: 50% 0 10px;
}
.list-team .team-title {
  font-family: "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #888;
  margin: 0;
}

/* Overlays for Execs */
.lay-team-detail {
  text-align: center;
}
.lay-team-detail .team-detail-name {
  font-family: "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e5fa4;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}
.lay-team-detail .team-detail-title {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  font-size: 15px;
  margin: 0;
}
.lay-team-detail .team-detail-quote {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #97c93c;
  font-size: 24px;
  margin: 20px 0;
}
.lay-team-detail .team-detail-more:last-child {
  margin-bottom: 0;
}

.list-social-head {
  font-size: 14px;
  color: #666;
  font-family: "FS Emeric Semi Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 25px 0 16px;
}
@media (min-width: 768px) {
  .list-social-head {
    margin-top: 50px;
  }
}

.list-social {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.list-social:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .list-social {
    margin-bottom: 0;
  }
}
.list-social li {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  background: url("/assets/images/icon-social-sprite.png") 0 0 no-repeat transparent;
  opacity: .9;
  text-indent: -9999px;
  transition: all .15s ease-out;
  margin-right: 16px;
}
.list-social li.social-tw {
  background-position: -64px 0;
}
.list-social li.social-li {
  background-position: -127px 0;
}
.list-social li.social-pin {
  background-position: -190px 0;
}
.list-social li:hover {
  opacity: 1;
  transition: all .15s ease-out;
}
.list-social li a {
  display: block;
  width: 100%;
  height: 100%;
}
.list-social li span {
  display: none !important;
}

.form-contact {
  margin-top: 44px;
}

/* inputs */
.in-default {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bbb;
  line-height: 18px;
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  padding: 10px 17px;
  margin-bottom: 35px;
  box-shadow: inset 0 2px 5px #ccc;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.in-default.in-phone {
  width: 70%;
}
.in-default.in-ext {
  width: 24%;
  float: right;
}
.in-default:active, .in-default:focus {
  outline-style: none;
}
.in-default.is-error {
  margin-bottom: 0;
}
.in-default.in-sm {
  margin-top: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
}

textarea.in-default {
  margin-bottom: 10px;
  height: 135px;
}
@media (min-width: 768px) {
  textarea.in-default {
    width: 98.5%;
    height: 270px;
  }
}

label.is-error {
  display: inline-block;
  color: #ff0000;
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2px 0 15px 3px;
}

p.copy-required {
  font-size: 12px;
  color: #888;
}

::-webkit-input-placeholder {
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
}

/*	.is-error::-webkit-input-placeholder {
		color: $color-error;
	}*/
:-moz-placeholder {
  /* Firefox 18- */
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
}

.is-error:-moz-placeholder {
  /* Firefox 18- */
  color: #ff0000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
}

/*.is-error::-moz-placeholder {
	color: $color-error;
}*/
:-ms-input-placeholder {
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
}

/*.is-error:-ms-input-placeholder {  
	color: $color-error;
}*/
:placeholder {
  font: normal 18px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
}

/*.is-error:placeholder {
	color: $color-error;
}*/
.in-sm::-webkit-input-placeholder {
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.in-sm:-moz-placeholder {
  /* Firefox 18- */
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.in-sm::-moz-placeholder {
  /* Firefox 19+ */
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.in-sm:-ms-input-placeholder {
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.in-sm:placeholder {
  font: normal 14px "FS Emeric Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  display: inline-block;
  background-color: #6db6e1;
  color: #fff;
  font-family: "FS Emeric Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .15s ease-out;
}
.btn:hover, .btn:active {
  background-color: #42a1d7;
  color: #fff;
  outline-style: none;
  transition: all .15s ease-out;
}
.btn.btn-alt {
  background-color: rgba(237, 31, 52, 0.9);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: none;
}
.btn.btn-alt:hover, .btn.btn-alt:active {
  background-color: #ed1f34;
}

/* ==========================================================================
	 Navigation elements
	 ========================================================================== */
.nav-global {
  list-style: none outside;
  margin: 0;
  padding: 0;
  display: none;
  float: right;
}
.nav-global li {
  float: left;
  margin-right: 28px;
}
.nav-global li:last-child {
  margin-right: 0;
}
.nav-global li a,
.nav-global li a:link,
.nav-global li a:visited {
  text-decoration: none;
  color: #888;
}
.nav-global li a:hover,
.nav-global li a:active,
.nav-global li a.is-current {
  color: #5aa4da;
}
@media (min-width: 768px) {
  .nav-global {
    display: block;
  }
}
.nav-global.global-mobile {
  margin-top: 40px;
  display: block;
  float: none;
  top: 0;
  z-index: 1000;
}
.nav-global.global-mobile li {
  float: none;
  margin-bottom: 18px;
  margin-right: 0;
}
.nav-global.global-mobile li a,
.nav-global.global-mobile li a:link,
.nav-global.global-mobile li a:visited {
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
}
.nav-global.global-mobile li a.is-lower,
.nav-global.global-mobile li a:link.is-lower,
.nav-global.global-mobile li a:visited.is-lower {
  text-transform: none;
}
.nav-global.global-mobile li a:hover,
.nav-global.global-mobile li a:active,
.nav-global.global-mobile li a.is-current {
  color: #555;
}
.nav-global.mobile-legal {
  margin-bottom: 40px;
}
.nav-global.mobile-legal li {
  margin-bottom: 12px;
}
.nav-global.mobile-legal li a,
.nav-global.mobile-legal li a:link,
.nav-global.mobile-legal li a:visited {
  text-transform: none;
  font-size: 18px;
}

/* Hamburger icon */
.nav-global-mobile {
  display: block;
  float: right;
  width: 26px;
  height: 26px;
  background: url("/assets/images/mobile-nav.svg") 0 0 no-repeat transparent;
  background-size: 26px auto;
}
@media (min-width: 768px) {
  .nav-global-mobile {
    display: none;
  }
}

/* Team page nav */
.lay-nav-sub {
  text-align: center;
  padding: 30px 0 0;
  display: none;
}
@media (min-width: 768px) {
  .lay-nav-sub {
    display: block;
  }
}

.nav-sub {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.nav-sub li {
  display: inline-block;
  font-size: 15px;
  font-family: "FS Emeric Semi Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
}
.nav-sub li:last-child {
  margin-right: 0;
}
.nav-sub li a,
.nav-sub li a:link,
.nav-sub li a:visited {
  text-decoration: none;
  color: #888;
}
.nav-sub li a:hover,
.nav-sub li a:active,
.nav-sub li a.is-current {
  color: #5aa4da;
}

/* Mobile Push Menus */
.nav-push-menu {
  position: fixed;
  top: 0;
  background-color: #eaeaea;
  height: 100%;
  width: 240px;
  width: 260px;
  padding: 40px 28px 16px;
  text-align: left;
  overflow-y: auto;
}
.nav-push-menu .lay-logo {
  width: 100%;
}
.nav-push-menu .list-foot {
  color: #888;
  font-family: "FS Emeric Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-push-menu .list-foot li {
  margin-bottom: 0;
}
.nav-push-menu .list-foot li a,
.nav-push-menu .list-foot li a:link,
.nav-push-menu .list-foot li a:visited {
  text-decoration: none;
  color: #888;
}
.nav-push-menu .list-foot li a:hover,
.nav-push-menu .list-foot li a:active {
  color: #555;
}

/* Vertical menu that slides from the left or right */
.nav-push-right {
  right: -240px;
  right: -260px;
}

.nav-push-right.nav-push-open {
  right: 0px;
}

/* Push classes applied to the body */
.nav-push-pushable {
  overflow-x: hidden;
  left: 0;
}

.nav-push-toleft {
  left: -260px;
}

.nav-push-menu,
.nav-push-pushable {
  transition: all 0.3s ease;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
/*@font-face {
	font-family: 'flexslider-icon';
	src:url('/assets/fonts/flexslider-icon.eot');
	src:url('/assets/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/flexslider-icon.woff') format('woff'),
		url('/assets/fonts/flexslider-icon.ttf') format('truetype'),
		url('/assets/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
/* flexslider-arrows-sprite.png 25px x 47px */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider,
.flexslider-media,
.flexslider-cta-energy {
  margin: 60px 0 0;
  background: transparent;
  position: relative;
  zoom: 1;
}

.flexslider-cta-energy {
  margin-top: 0;
}

.flexslider-media {
  margin-top: 0;
}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  display: none;
}
@media (min-width: 768px) {
  .flex-direction-nav {
    display: block;
  }
}

.flex-direction-nav a {
  width: 25px;
  height: 47px;
  background: url("/assets/images/flexslider-arrows-sprite.png") 0 0 no-repeat transparent;
  text-decoration: none;
  display: block;
  margin: -20px 0 0;
  position: absolute;
  top: 40%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
}

.flex-direction-nav a.flex-next {
  background-position: -25px 0;
}

.flex-direction-nav a.flex-prev {
  left: 0;
}

.flex-direction-nav a.flex-next {
  right: 0;
}

@media (min-width: 980px) {
  .flex-direction-nav a.flex-prev {
    left: -15px;
  }

  .flex-direction-nav a.flex-next {
    right: -15px;
  }
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/*.flex-direction-nav a:before  {
	font-family: "flexslider-icon";
	font-size: 40px;
	line-height:1;
	display: inline-block;
	content: '\f001';
}

.flex-direction-nav a.flex-next:before {
	content: '\f002';
}
*/
/* Pause/Play */
/*.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }*/
/* Control Nav
 - Customized for careers page, but should THAT be a specific config?
*/
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -28px;
  text-align: center;
}
@media (min-width: 768px) {
  .flex-control-nav {
    width: auto;
    bottom: 28px;
    left: 51%;
  }
}

.flexslider-cta-energy .flex-control-nav {
  bottom: -36px;
}
@media (min-width: 768px) {
  .flexslider-cta-energy .flex-control-nav {
    bottom: -58px;
    left: 47%;
  }
}

.flex-control-nav li {
  margin: 0 2px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  display: block;
  background: #b5d9ee;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 12px;
  transition: none;
}
.row-highlight .flex-control-paging li a {
  border-color: #f9f9f9;
}
.row-highlight-blue .flex-control-paging li a {
  border-color: #93aab7;
}

.flex-control-paging li a:hover {
  background: #42a1d7;
  transition: none;
}

.flex-control-paging li a.flex-active {
  background: #b5d9ee;
  cursor: default;
  border-color: #b5d9ee;
  width: 12px;
  height: 12px;
  /*position: relative;
  top: -3px;*/
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/*@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #f9f9f9;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: #fff;
  padding: 1px;
  border: 1px solid #ebebeb;
}

/*#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}*/
#cboxLoadingOverlay {
  background: #fff;
}

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  background: url("/assets/images/colorbox/controls.png") no-repeat 0 0;
  background-color: transparent;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px;
}

#cboxPrevious:hover {
  background-position: 0px -25px;
}

#cboxNext {
  background-position: -25px 0px;
  right: 22px;
}

#cboxNext:hover {
  background-position: -25px -25px;
}

#cboxClose {
  background-position: -50px 0px;
  right: 5px;
}

#cboxClose:hover,
#cboxClose:active,
#cboxClose:focus {
  background-position: -50px -25px;
  outline-style: none;
}

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
