<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-careers">
	<div class="container-inner">
		<h2 class="hero-title">Work that Matters</h2>
		<p class="hero-more">Help Realize the Promise of an Energy-Efficient Future</p>
		<a href="#" class="btn">See Current Openings</a>
	</div>
</div>

<article class="container-page">
	<section class="row">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-med">
					Renovate America: innovative financing for home energy efficiency through the HERO program.
				</h3>
			</div>
		
			<div class="col-3 col-centered">
				<img src="/assets/images/careers-people.jpg" alt="People" class="img-center">
				<h3 class="title-sm">
					Improve People’s Lives
				</h3>
				<p class="copy-med">
					Make the impossible possible by saving homeowners time and money on their energy-efficient upgrades. 
				</p>
			</div>
			<div class="col-3 col-centered">
				<img src="/assets/images/careers-solar.jpg" alt="Solar" class="img-center">
				<h3 class="title-sm">
					Drive US Energy-Efficiency
				</h3>
				<p class="copy-med">
					Help save the environment by conserving energy and lowering utility bills with innovative and affordable energy-efficient products.
				</p>
			</div>
			<div class="col-3 col-centered">
				<img src="/assets/images/careers-protection.jpg" alt="Consumer Protection" class="img-center">
				<h3 class="title-sm">
					Protecting Consumers
				</h3>
				<p class="copy-med">
					Give homeowners peace-of-mind with our consumer protection policy, which provides an added layer of security to finance energy-efficient purchases.  
				</p>
			</div>
		</div>
	</section>

	<section class="row row-highlight row-has-slideshow slideshow-careers">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Empowered to Make A True Impact</h3>
			</div>

			<div class="col-full">
				<div class="flexslider js-flexslider-careers">
					<ul class="slides">
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-steve.jpg" alt="Steve"></div>
								<div class="col-right">
									<h3 class="title-med">Time Flies When You Think Big:</h3>
									<p class="copy-lrg copy-green">“I love working for a place that is always trying to achieve greatness and has a culture of taking the best out there in the marketplace, and making it even better.”</p>
									<p class="copy-lrg copy-green">STEVE AGUILERA, Program Services</p>
								</div>
							</div>
						</li>
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-rick.jpg" alt="Rick"></div>
								<div class="col-right">
									<h3 class="title-med">A Passionate Approach to Design and Engineering:</h3>
									<p class="copy-lrg copy-green">“The best developers have an urge to direct their lives, and a desire for continuous improvement, and RA empowers me to do just that. The software development environment motivates me to achieve my goals.”</p>
									<p class="copy-lrg copy-green">RICK MOORE, Engineer</p>
								</div>
							</div>	
						</li>
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-monique.jpg" alt="Monique"></div>
								<div class="col-right">
									<h3 class="title-med">Energy Independence for Everyone:</h3>
									<p class="copy-lrg copy-green">“Property owners feel peace-of-mind when they get approved for financing. Our program makes a big difference in people’s lives when they are in dire need of energy saving products, but funds may not be readily available.”</p>
									<p class="copy-lrg copy-green">MONIQUE JOHNSON, Underwriter</p>
								</div>
							</div>
						</li>
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-cartic.jpg" alt="Cartic"></div>
								<div class="col-right">
									<h3 class="title-med">Making Waves for a Better Future</h3>
									<p class="copy-lrg copy-green">“I am able to make meaningful contributions and see an impact first hand. I love the startup type mentality here. We are working towards a greener tomorrow.”</p>
									<p class="copy-lrg copy-green">CARTIC NATRAJ, Senior Product Manager</p>
								</div>
							</div>	
						</li>
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-jerald.jpg" alt="Jerald"></div>
								<div class="col-right">
									<h3 class="title-med">Owning Every Inch of Performance:</h3>
									<p class="copy-lrg copy-green">“I’m empowered to set the vision for my products, impact the user experience, and prioritize detailed product features. I’ve never had this level of ownership, management, and trust.”</p>
									<p class="copy-lrg copy-green">JERALD CHAU, Product Manager</p>
								</div>
							</div>
						</li>
						<li>
							<div>
								<div class="col-left"><img src="/assets/images/employees/slide-kelly.jpg" alt="Kelly"></div>
								<div class="col-right">
									<h3 class="title-med">Building Sustainable Communities:</h3>
									<p class="copy-lrg copy-green">"I care deeply about fostering sustainable communities and my work here allows me to put that desire into action at an innovative, fast-paced company. We are building an industry and our capacity to impact communities is limited only by our collective ingenuity, creativity and hard work."</p>
									<p class="copy-lrg copy-green">KELLY SANDOVAL, Communications Manag</p>
								</div>
							</div>	
						</li>

					</ul>
				</div><!--/.js-flexslider-careers-->
			</div>
		</div>
	</section>

	<section class="row row-has-slideshow">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Renovate America in The Media</h3>
				<!-- // logo images need to be centered and 300px wide (any height) -->
				<div class="flexslider-media js-flexslider-media">
						<ul class="list-media">
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-bloomberg.png');"></div>
								<div class="media-content">
									<h5 class="media-copy-special">
										“More than 165 California municipalities use the HERO program, which has provided more than $250 million in financing since Dec. 2011.”</h5>
									<h6 class="media-cite-special">Bloomberg, Justin Doom</h6>
								</div>
							</li>
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-forbes.png');"></div>
								<div class="media-content">
									<h5 class="media-title">Six Trends To Watch For In 2015 Forbes.</h5><h6 class="media-cite">Michael Kanellos, 12/23/14</h6>
									<p class="media-copy">“Renovate America went from being a company few had heard of in the beginning of 2014 to arguably the breakout success story of the year with its HERO program for promoting home energy efficiency.”</p>
								</div>
							</li>
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-greentech-solar.png');"></div>
								<div class="media-content">
									<h5 class="media-title">PACE didn’t just grow in 2014—it exploded.</h5>
									<h6 class="media-cite">greentech. Katherine Tweed, 12/17/14</h6>
									<p class="media-copy">“The PACE map is filling in, with much more action to come in 2015... There are legislative efforts underway in Arizona and Pennsylvania,and encouraging developments in the South.”</p>
								</div>
							</li>
						
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-greentech-media.png');"></div>
								<div class="media-content">
									<h5 class="media-title">PACE didn’t just grow in 2014—it exploded.</h5>
									<h6 class="media-cite">greentech. Katherine Tweed, 12/17/14</h6>
									<p class="media-copy">“The PACE map is filling in, with much more action to come in 2015... There are legislative efforts underway in Arizona and Pennsylvania,and encouraging developments in the South.”</p>
								</div>
							</li>
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-utility-dive.png');"></div>
								<div class="media-content">
									<h5 class="media-title">CA clean energy loan program grew 10 times...</h5>
									<h6 class="media-cite">Utility Dive. Herman K Trabish, 12/17/14</h6>
									<p class="media-copy">“The residences and businesses save on their energy bills, and the publicly-funded loans put taxpayers at little risk because property owners pay their taxes.”</p>
								</div>
							</li>
							<li>
								<div class="media-img" style="background-image: url('/assets/images/logo-desert-sun.png');"></div>
								<div class="media-content">
									<h5 class="media-title">What Two Recent Transactions Say...</h5>
									<h6 class="media-cite">Environmental Defense Fund. Brad Copithorne, 06/24/14</h6>
									<p class="media-copy">“Since most of these projects are financed for more than 20 years, lower financing costs will have a significant impact on the cost of clean energy.”</p>
								</div>
							</li>
						</ul>
				</div><!--/.flexslider-media-->

			</div>
		</div>
	</section>

	<section class="row row-highlight row-highlight-careers-growth row-has-slideshow">
		<div class="container-inner">
			<div class="col-left">
				<h3 class="title-lrg">Be a part of our growth story.</h3>
				<p class="copy-med">We have originated over $400 million in HERO financing.  As we continue to evolve, we expect to double in size. In 2015, we forecast $1 billion in loan originations.</p>
			</div>
		</div>
	</section>

	<section class="row row-highlight-blue row-has-slideshow">
		<div class="container-inner">
			<div class="col-full col-centered">
				<div class="flexslider-cta-energy js-flexslider-cta-energy">
					<ul class="slides">
						<li>
							<div class="lay-cta cta-energy">
								<h3 class="cta-title">3,023,993,451</h3>
								<h4 class="cta-title-sub">Energy Saved in Kilowatt Hours</h4>
							</div>		
						</li>
						<li>
							<div class="lay-cta cta-energy">
								<h3 class="cta-title">3,023,993,451</h3>
								<h4 class="cta-title-sub">Energy Saved in Kilowatt Hours</h4>
							</div>		
						</li>
						<li>
							<div class="lay-cta cta-energy">
								<h3 class="cta-title">3,023,993,451</h3>
								<h4 class="cta-title-sub">Energy Saved in Kilowatt Hours</h4>
							</div>		
						</li>
						<li>
							<div class="lay-cta cta-energy">
								<h3 class="cta-title">3,023,993,451</h3>
								<h4 class="cta-title-sub">Energy Saved in Kilowatt Hours</h4>
							</div>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

		<section class="row">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">We Take Care of Our Own</h3>
				<div class="lay-cta cta-take-care">
					<div class="col-left col-gradient-bottom-right">
						<img src="/assets/images/care-benefits.png" alt="Benefits" width="110" height="110">
						<h3 class="title-sm">Exceptional Benefits </h3>
						<p class="copy-med">We invest in your future with a competitive salary, stock options, medical insurance, and more.</p>
					</div>
					<div class="col-right">
						<img src="/assets/images/care-culture.png" alt="Culture" width="110" height="110">
						<h3 class="title-sm">Connected Culture</h3>
						<p class="copy-med">We believe that our collaborative work environment fosters big ideas that lead to greatness.</p>
					</div>
					<div class="col-left">
						<img src="/assets/images/care-lunch.png" alt="Lunch" width="110" height="110">
						<h3 class="title-sm">Free Lunch</h3>
						<p class="copy-med">As an added perk, expect catered lunch on us every workday that accommodates different palettes and dietary restrictions.</p>
					</div>
					<div class="col-right col-gradient-top-left">
						<img src="/assets/images/care-fearless.png" alt="Fearless" width="110" height="110">
						<h3 class="title-sm">Fearless Leaders</h3>
						<p class="copy-med">We hire visionaries who are energized by intense, fast-paced days that are constantly full of challenges and surprises.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="row row-highlight">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Innovators Welcome.</h3>
				<p class="copy-lrg">Think you have what it takes to become part of the Renovate America family? Join one of the hottest industries and fastest-growing companies today.</p>
				<a href="#" class="btn">See Current Openings</a>

			</div>
		</div>
	</section>

</article>

<!--#include virtual="includes/footer.html" -->
