<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-hero">
	<div class="container-inner">
		<div class="hero-logo"></div>
		<h2 class="hero-title">Your Energy Efficient Future, Today.</h2>
	</div>
</div>

<article class="container-page">
	<section class="row">
		<div class="container-inner">
			<div class="col-full">
				<h3 class="title-lrg">The Award Winning HERO&trade; Program</h3>
				<p class="copy-med">Renovate America is leading the way in making homes and communities more energy and water efficient. We partner with cities and counties to provide innovative new financing solutions that deliver multiple benefits including energy savings, lower utility bills, reduced emissions, new jobs and increased property values. Our HERO Financing Program is the fastest growing energy efficiency solution in the country.</p>
				<ul class="list-awards">
					<li>
						<h4 class="award-title">Environmental & Economic Partnership</h4>
						<h5 class="award-cite">Governor of California</h5>
					</li>
					<li>
						<h4 class="award-title">Best Residential Partnership</h4>
						<h5 class="award-cite">U.S. Green Building Council</h5>
					</li>
					<li>
						<h4 class="award-title">Best of the Best</h4>
						<h5 class="award-cite">Urban Land Institue</h5>
					</li>
					<li>
						<h4 class="award-title">Presidents Award For Excellence</h4>
						<h5 class="award-cite">Southern CA Association of Governments</h5>
					</li>
					<li>
						<h4 class="award-title">Business Achievement Award</h4>
						<h5 class="award-cite">Climate Change Business Journal</h5>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row row-highlight row-highlight-hero-chart">
		<div class="container-inner">
			<div class="col-left">
				<h3 class="title-lrg">Leading the Way</h3>
				<p class="copy-med">We created the HERO Financing Program, which has now become the fastest growing energy efficiency financing solution in the country.  With over $325 Million in funded projects in the Program’s first 3 years it is setting records nationwide.</p>
			</div>
			
		</div>
	</section>

	<section class="row">
		<div class="container-inner">
			<div class="col-left">
				<img src="/assets/images/hero-program-communities-chart.png" alt="Communities" class="img-scale">	
			</div>
			<div class="col-right">
				<h3 class="title-lrg">Best of Both Worlds</h3>
				<p class="copy-med">We work in partnership with municipalities to administer and manage the HERO Program. Lending capital is provided by private sources, and payments are collected by the municipalities along with a resident’s property taxes.</p>
			</div>
			

		</div>
	</section>

	<section class="row row-highlight">
		<div class="container-inner">
			<div class="col-left">
				<h3 class="title-lrg">PACE Works</h3>
				<p class="copy-med">The partnership is made possible by PACE (Property Assessed Clean Energy) legislation, which provides property owners a new way of borrowing money for energy improvements.  Approvals are based on the amount of equity in the home and if the property is sold any remaining balance can be legally passed on to the new owner.  This diminishes the risk of long-term home improvement investments, and attractive financing terms incentivize property owners to make the energy efficient choice when upgrading appliances permanently affixed to the property.</p>
			</div>
			<div class="col-right">
				<img class="img-center" src="/assets/images/hero-program-pace-pie.jpg" alt="95%">
			</div>
		</div>
	</section>

	<section class="row row-highlight row-highlight-hero">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Learn more about how HERO can help your community realize an energy efficient future.</h3>
				<a href="https://heroprogram.com" target="_blank" class="btn btn-alt">heropgram.com</a>

			</div>
		</div>
	</section>

</article>

<!--#include virtual="includes/footer.html" -->
