<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-home">
	<div class="container-inner">
		<h2 class="hero-title">Financing the Home Energy Revolution</h2>
		<p class="hero-more">We're the energy saving, utility bill lowering, property value increasing, job creating, economy boosting, financing solutions company changing the home energy product market.</p>
		<a href="#intro" class="icon-arrow-down-circle js-scroll"></a>
	</div>
</div>
<article class="container-page" id="intro">
	
	<section class="row row-highlight row-stats">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Our HERO Program is Leading the Way</h3>
				<p class="copy-med">HERO has grown to become the fastest growing energy efficiency financing solution in the nation and accounts for 95% of the Residential PACE Financing market.</p>
				<p class="copy-med cta-stat-head">HERO's impact to date:</p>
			</div>
			
			<div class="cta-stat">
				<div class="stat-wrap">
					<div class="stat-content" id="stat-one">
						<h4 class="title-sm-reg">created over</h4>
						<p class="stat-result">$494<span>m</span></p>
						<p>in home improvments</p>
					</div>
					
					<div class="stat-content" id="stat-four">
						<h4 class="title-sm-reg">saved over</h4>
						<p class="stat-result">3<span>bil</span></p>
						<p>kWh of energy</p>
					</div>
				</div>
			</div>

			<div class="cta-stat">
				<div class="stat-wrap">
					<div class="stat-content" id="stat-two">
						<h4 class="title-sm-reg">generated over</h4>
						<p class="stat-result">$857<span>m</span></p>
						<p>in economic stimulus</p>
					</div>
					<div class="stat-content" id="stat-five">
						<h4 class="title-sm-reg">abated over</h4>
						<p class="stat-result">861<span>tons</span></p>
						<p>of C02</p>
					</div>					
				</div>
			</div>

			<div class="cta-stat">
				<div class="stat-wrap">
					<div class="stat-content" id="stat-three">
						<h4 class="title-sm-reg">saved over</h4>
						<p class="stat-result">$934<span>m</span></p>
						<p>in energy bills</p>
					</div>
					<div class="stat-content" id="stat-six">
						<h4 class="title-sm-reg">created over</h4>
						<p class="stat-result">4<span>k</span></p>
						<p>jobs</p>
					</div>
				</div>
			</div>

		</div>
	</section>
	
	<section class="row">
		<div class="container-inner">
			<div class="col-left">
				<h3 class="title-lrg">Wo We Are</h3>
				<p class="copy-med">Renovate America is leading the way in making homes and communities more energy and water efficient. We partner with cities and counties to provide innovative new financing solutions that deliver multiple benefits including energy savings, lower utility bills, reduced emissions, new jobs and increased property values. Our HERO Financing Program is the fastest growing energy efficiency solution in the country.</p>
			</div>

			<div class="col-right">
				<div class="video-wrap">
					<iframe src="//player.vimeo.com/video/111022883?title=0&byline=0&portrait=0" width="470" height="264" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

	<section class="row row-highlight">
		<div class="container-inner">
			<div class="col-left">
				<img class="img-scale" src="/assets/images/equipment.jpg" alt="equipment">
			</div>

			<div class="col-right">
				<h3 class="title-lrg">Smart is Good. Affordable is Better.</h3>
				<p class="copy-med">Many companies offer new products that use less energy, save money and reduce emissions. However, the single biggest barrier to adopting these products in the marketplace is affordability. We’re changing that by offering financing with terms that allow consumers to spread the costs out over time while simultaneously saving money on their utility bills. This alleviates the high cost of entry associated with purchasing efficient home energy products.</p>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="container-inner">
			<div class="col-left">
				<h3 class="title-lrg">Financing Delivers Opportunity.</h3>
				<p class="copy-med">Financing solutions have helped to improve the quality of life for many Americans by making things like owning a home or driving a reliable car more affordable. Financing home energy products not only improves our quality of life, but also provides a unique opportunity to participate in a shared journey towards a better energy future for everyone.</p>
			</div>
			<div class="col-right">
				<img class="img-scale" src="/assets/images/homeowners.jpg" alt="homeowners">
			</div>
		</div>
	</section>

	<section class="row row-highlight-map">
		<div class="container-inner">
			<div class="col-left">
				<img class="img-scale" src="/assets/images/mobile-map.png" alt="Mobile devices">
			</div>

			<div class="col-right">
				<h3 class="title-lrg">Complexity Meets Simplicity.</h3>
				<p class="copy-med">Delivering a real solution involves technology, financial innovation, brand development, lending capital, behavior change and successful public private partnerships. We manage the entire purchase path; integrating with local municipal programs, providing approvals in 30 seconds, automating all paperwork, providing contractors sales support, and offering consumers a simple user-friendly experience they can depend on.</p>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="container-inner">
			<div class="col-full col-centered">
				<h3 class="title-lrg">Get In Touch To Help Create A Better Tomorrow</h3>
				<p class="copy-med">To learn more about Renovate America and the HERO Program, please contact us.</p>
			</div>
			<form action="" class="form-contact">
				<div class="col-left">
					<input type="text" class="in-default" placeholder="First Name*" name="first-name">
				</div>
				<div class="col-right">
					<input type="text" class="in-default" placeholder="Last Name*" name="last-name">
				</div>
				<div class="col-left">
					<input type="text" class="in-default" placeholder="Company" name="company">
				</div>
				<div class="col-right">
					<input type="text" class="in-default" placeholder="Title Position" name="title-position">
				</div>
				<div class="col-left">
					<input type="email" class="in-default" placeholder="Email*" name="email">
				</div>
				<div class="col-right">
					<input type="tel" class="in-default in-phone" placeholder="Phone Number" name="phone">
					<input type="tel" class="in-default in-ext" placeholder="Ext" name="phone-ext">
				</div>
				<div class="col-full">
					<textarea name="message" id="" cols="30" rows="10" placeholder="Your Message*" class="in-default"></textarea>
					<p class="copy-required">Required Fields*</p>
				</div>
				<div class="col-full col-centered">
					<button type="submit" class="btn">Submit</button>
				</div>
			</form>
		</div>
		
	</section>


</article><!--/.container-page-->

<div class="container-inner">
	
</div>

<!--#include virtual="includes/footer.html" -->
