<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-news">
	<div class="container-inner">
		<h2 class="hero-title"><a href="news.html">News & Events</a></h2>
		<!-- <p class="hero-more">January 2014</p> -->
	</div>
</div>

<article class="container-page">
	<section class="row">
		<div class="lay-news lay-news-item">
			
			<h6 class="news-date">Press Release &middot; Jan 12th, 2014</h6>
			<h6 class="news-title">CA Governor Recognizes HERO Program with California’s Highest Environmental & Economic Honor</h6>
			<h6 class="news-posted-in">Posted in Awards and Honors by HERO</h6>
			<img class="img-scale img-header" src="/assets/images/news/item-header-temp.jpg" alt="Header">
			
			<p>The HERO Program was recently honored by the Governor Jerry Brown for its great strides in improving the environmental and economic future of California. Renovate America, the administrator of the HERO Program, and Western Riverside Council of Governments (WRCOG), a founding municipal partner, received the Governor’s Environmental and Economic Leadership Award (“GEELA”) for utilizing a public-private partnership to positively impact the State through environmental preservation and economic stimulus.</p>
			<p>To learn more about this honor, take a look at the below press release:</p>
			<p>Western Riverside Council of Governments and the HERO Program receive Governor’s Environmental and Economic Leadership Award</p>
			
			<p>SACRAMENTO, Calif.  – California Gov. Jerry Brown presented the HERO Program with the Governor’s Environmental and Economic Leadership Award.</p>
			<p>The state presented this award to recognize the success of the HERO Program, which is a public-private partnership between cities and counties and the private sector that empowers property owners to become more energy efficient.  In less than two years, the HERO Program has become the largest Property Assessed Clean Energy (PACE) financing program in the nation.</p>
			<p>The Governor’s Environmental and Economic Leadership Award (GEELA) is California’s highest environmental honor.  The ptrogram recognizes individuals, organizations, and businesses that have demonstrated exceptional leadership and made notable, voluntary contributions in conserving California’s precious resources, protecting and enhancing our environment, building public-private partnerships and strengthening the state’s economy.  The GEELA program is administered by the California Environmental Protection Agency.</p>
			<p>“The HERO Program is honored to accept this award on behalf of all the cities and counties that are participating in the HERO Program” Renovate America CEO JP McNeill said.  “In the past two years, the HERO Program has helped over 6,000 property owners to make energy efficient upgrades to their homes which will reduce their annual energy consumption by over 67 Gigawatts and reduce annual CO2 emissions by 17,000 tons.  The work associated with these projects has helped create more than 1,000 new jobs and more than $208 million in economic stimulus in the State of California.  The award acknowledges both the economic and environmental benefits it brings to cities and counties in California.”</p>
			<p>HERO is now available to nearly 10 million California residents who reside in 13 counties including Los Angeles, Orange, San Diego, Riverside, San Bernardino, Sacramento, Merced, Kern, Solano, Stanislaus, Imperial, Fresno and Santa Clara County.</p>

			<header class="list-social-head">share this post with your fiends and followers using:</header>
			
			<div class="addthis_toolbox">
				<div class="custom_images">
					<ul class="list-social">
						<li class="list-social"><a class="addthis_button_facebook"></a></li>
						<li class="social-tw"><a class="addthis_button_twitter"></a></li>
						<li class="social-li"><a class="addthis_button_linkedin"></a></li>
						<li class="social-pin"><a class="addthis_button_pinterest"></a></li>
					</ul>
				</div>
			</div>


			<!-- <ul class="list-social">
				<li class="social-fb"><a href="#">Facebook</a></li>
				<li class="social-tw"><a href="#">Twitter</a></li>
				<li class="social-li"><a href="#">Linked In</a></li>
				<li class="social-pin"><a href="#">Pinterest</a></li>
			</ul> -->

		</div><!--/.lay-news -->			
		
	</section>

</article>

<!--#include virtual="includes/footer.html" -->
