<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-news">
	<div class="container-inner">
		<h2 class="hero-title"><a href="news.html">News & Events</a></h2>
		<!-- <p class="hero-more">January 2014</p> -->
	</div>
</div>

<article class="container-page">
	<section class="row">
		<div class="lay-news">
			<div class="col-left-news">
				<div class="lay-news-brief">
					<a href="news-item.html">
						<h6 class="news-date">Press Release &middot; Jan 12th, 2014</h6>
						<h6 class="news-title">CA Governor Recognizes HERO Program with California’s Highest Environmental & Economic Honor</h6>
					
						<h6 class="news-excerpt">The HERO Program was recently honored by the Governor Jerry Brown for its great strides in improing the environmental and economic future of California</h6>
					</a>
					<p class="news-more"><a href="news-item.html">Read Article &rarr;</a></p>
				</div>

				<div class="lay-news-brief">
					<a href="news-item.html">
						<h6 class="news-date">Press Release &middot; Jan 12th, 2014</h6>
						<h6 class="news-title">City of San Jose joins growing list of cities adopting HERO Program</h6>
						<h6 class="news-excerpt">The largest city in Northern California, San Jose, approved a resolution to offer multiple residential and commercial PACE financing programs in their community.</h6>
					</a>
					<p class="news-more"><a href="news-item.html">Read Article &rarr;</a></p>
				</div>

				<div class="lay-news-brief">
					<a href="news-item.html">
						<h6 class="news-date">Press Release &middot; Jan 12th, 2014</h6>
						<h6 class="news-title">CA Governor Recognizes HERO Program with California’s Highest Environmental & Economic Honor</h6>
						<h6 class="news-excerpt">The HERO Program was recently honored by the Governor Jerry Brown for its great strides in improing the environmental and economic future of California</h6>
					</a>
					<p class="news-more"><a href="news-item.html">Read Article &rarr;</a></p>
				</div>

				<div class="lay-news-brief">
					<p class="news-more">
						<a href="news-archive.html">&larr; Older Articles</a>
						&nbsp; | &nbsp; <a href="news-archive.html">Newer Articles &rarr;</a>
					</p>
				</div>

			</div>

			<div class="col-right-news">
				<aside>
					<h6 class="news-title">Search RA News</h6>
					<form action="#">
						<input type="text" class="in-default in-sm" placeholder="Search...">
					</form>
				</aside>
				<aside class="lay-news-archives">
					<h6 class="news-title-btn js-archive-reveal">Archives</h6>
					<div class="list-archives">
						<h5 class="news-title-sm">2014</h5>
						<h5 class="news-title-sm">2013</h5>
						<ul class="list-news-archives">
							<li><a href="news-archive.html">December 2013</a></li>
							<li><a href="news-archive.html">October 2013</a></li>
							<li><a href="news-archive.html" class="is-current">May 2013</a></li>
							<li><a href="news-archive.html">April 2013</a></li>
							<li><a href="news-archive.html">March 2013</a></li>
							<li><a href="news-archive.html">January 2013</a></li>
						</ul>
					</div>

				</aside>
			</div>
		</div><!--/.lay-news -->
			
		
	</section>

</article>

<!--#include virtual="includes/footer.html" -->
