<!--#include virtual="includes/header.html" -->
<div class="container-inner">
	

<h4 class="title-legal">PRIVACY POLICY</h4>
<p class="copy-legal">Renovate America, Inc. ("RA"), The HERO Program (the "Program"), all participating municipalities, and all Program service providers are dedicated to protecting the privacy of your information. This privacy statement covers any non-public private information that you provide the RA or the Program. Below is a summary of our Privacy Policy provisions:</p>

<h4 class="title-legal">WE PROTECT YOUR INFORMATION</h4>
<ul class="list-legal"><li>By using Secure Sockets Layer (SSL) technology supporting up to 128-bit encryption to prevent unauthorized parties from viewing any personal information transmitted to or from the Program;</li>
	<li>By limiting access to your personal information to only those authorized parties that have a "need to know";</li>
	<li>Please review our full policy below for more details.</li></ul>

<h4 class="title-legal">PRIVACY POLICY</h4>
<p class="copy-legal">This Privacy Policy covers the information provided to us when you call or visit the Renovate America website, the HERO Program website, and obtain or seek to obtain Program services. Program services are intended for U.S. residents over 18 years of age. Please be aware that other websites that you may access through our site may collect personally identifiable information about you. Our Privacy Policy does not cover those third party websites, and we encourage you to read their privacy policies prior to providing them with your personal information. To assist you with reading through our Privacy Policy, we have provided answers to questions you may find most important, and have created the following sections.</p>

<h4 class="title-legal">HOW DOES THE PROGRAM COLLECT AND USE MY INFORMATION?</h4> 
<p class="copy-legal">The Program may collect and use your personal information to respond to your requests for Program financing or to provide you with information about products or services that may be of value to you. Certain personal information the Program collects about you may be publicly available via government records, telephone books, and other widely available media (i.e. the Internet). </p>

<h4 class="title-legal">INFORMATION YOU PROVIDE</h4>
<p class="copy-legal">The Program collects the personal information you provide when you:</p> 
<ul class="list-legal">
<li>Use our planning tools;</li>
<li>Apply for a Program financing;</li>
<li>Register with the Program;</li>
<li>Participate in a promotion or online survey;</li>
<li>Contact Program Representatives with a question or suggestion</li>
</ul>

<h4 class="title-legal">PLANNING TOOLS</h4>
<p class="copy-legal">When you use our planning tools we collect information including email address, Program financing you may be considering, interest rate, and financing terms. We use this information to provide you email communications that you may have requested. </p>

<h4 class="title-legal">CONTACTING RA OR THE PROGRAM</h4>
<p class="copy-legal">When you contact RA or the Program with a question or suggestion we collect your name, email address, and telephone number. We only use personal information we collect to respond to and/or resolve your question or concern. </p>

<h4 class="title-legal">MONITORING AND RECORDING TELEPHONE CALLS </h4>
<p class="copy-legal">RA and/or the Program may monitor and/or record telephone calls for security and customer service purposes. Please be aware that by calling either you consent to having your phone call monitored or recorded.</p>

<h4 class="title-legal">OPTIONAL INFORMATION</h4>
<p class="copy-legal">When accessing the Program website, we may give you the option of submitting general information, for purposes related to providing you with new energy or water efficiency or renewable energy products or financial services that may be of value to you. Certain information must be provided at the time you submit your request for a financial service or product.</p>

<h4 class="title-legal">INFORMATION COLLECTED FROM OTHER SOURCES</h4>
<p class="copy-legal">The Program may also collect information about you from the following sources:</p> 
<ul class="list-legal">
<li>Consumer reporting agencies:  We may receive information regarding your credit history from a consumer-reporting agency. We use this information to approve and process your Program application, and to offer you Program products that may be of interest to you.</li>
<li>Outside sources:  We may request and/or receive information regarding you, your property, or your proposed or installed Eligible Products, from others who may or may not have relationships with you, in order to process and approve your Program application. The Program uses this information to verify eligibility for the Program financing or to verify representations you make in your application or funding request.</li>
</ul>

<h4 class="title-legal">TECHNICAL INFORMATION</h4>
<p class="copy-legal">We use technology to:</p>
<ul class="list-legal">
<li>Gather technical information from your Web browser (IP address, operating systems);</li>
<li>Set persistent cookies on your computer; and</li>
<li>Use "action tags" or invisible tracking "gifs" on our systems (to collect anonymous information about your navigation throughout the Program website).</li>
</ul>

<p class="copy-legal">We use this information for routine website maintenance; to establish that you are a unique user; to assist you in the Program financing process; and/or for purposes of assessing the effectiveness of our website, products and services. If you choose to disable cookies, you will still be able to access most of the website. However, as a security precaution, in order to apply for Program financing, you may be required to enable cookies on your Internet browser. You may also use cookies to remember your log-in username, if you elect this option. If you do not elect this option, you will be required to re-enter your username and password each time you access your account. These cookies do not contain any personally identifiable information.</p>

<h4 class="title-legal">THIRD PARTY ADVERTISEMENT</h4>
<p class="copy-legal">RA and the Program do NOT use third party advertising companies to provide advertisements or allow third party advertisers to track your browsing activities on the RA and Program website for their own purposes.</p>

<h4 class="title-legal">DOES RA OR THE PROGRAM SHARE MY PERSONAL INFORMATION WITH THIRD PARTIES? </h4>
<p class="copy-legal">RA or the Program may share your personal information: </p>
<ul class="list-legal">
<li>With companies involved in the Program financing process—Examples: Property valuation companies and credit reporting agencies are a necessary part of the Program financing approval process. Therefore, we must provide some of your information to these companies in order to process your request for a Program financing. Additionally, because the Program does not service contractual assessments that secure repayment of Program financing provided to you (a “Program Assessment”), we will provide your information to a company who provides such services. In addition, the Program may sell bonds secured by your Program financing and we will need to provide your information to service providers involved in this activity.</li>

<li>With companies that perform services on our behalf—Examples: We sometimes use service providers to assist us with specific processes or functions such as distributing emails or processing automatic assessment payments that you may have requested as part of your Program financing. Some of these processes may be performed by a service provider located overseas.</li>

<li>With companies that install Eligible Products—Examples: We may share your contact information with companies that are registered with the Program and offer services and/or products that are eligible for financing under the Program. If you wish to opt out and not have your information shared with companies that install Eligible Products, please contact us by email (info@heroprogram.com) or phone (855-HERO-411)</li>

<li>As required by law—Examples: We may need to share your information with law enforcement or government agencies in response to a subpoena, state/federal audit or other similar circumstances. Additionally, the law requires that all Program financing agreements be recorded with the local county recorder's office. The Program website may link you to other companies' websites that offer services that may be of interest to you. These companies do not obtain any specific information about you or your transaction on the Program website. You may also access the Program website from another company's website. We may collect Web traffic statistics from you and other consumers' Web browsers, and we may share this aggregated information with outside companies to assist them with assessing the effectiveness of their website content. No personal information is shared in this aggregated information.</li>
</ul>

<h4 class="title-legal">DOES RA OR THE PROGRAM USE AN OVERSEAS SERVICE PROVIDER?</h4>
<p class="copy-legal">RA and the Program service center is located in California.</p>

<h4 class="title-legal">CAN I ACCESS MY INFORMATION?</h4>
<p class="copy-legal">At present, you can access your information by contacting Program Representatives by phone.</p>

<h4 class="title-legal">PROGRAM FINANCING APPLICATIONS:</h4>
<p class="copy-legal">You may view your disclosures, including your application. If you request paper copies of your disclosures when you submit your application, we will send you a paper copy in addition to providing your disclosures electronically. </p>

<h4 class="title-legal">HOW DOES THE PROGRAM SAFEGUARD MY PERSONAL INFORMATION?</h4>
<p class="copy-legal">The Program uses a variety of security safeguards to protect your information from loss, misuse, alteration or destruction. For example, you will only be able to access information in your Program account by submitting the username and password you created during registration. We provide access to your personal information to Program employees and other authorized parties on a "need to know" basis. The Program also uses Secure Sockets Layer (SSL) technology supporting up to 128-bit encryption to prevent unauthorized parties from viewing any personal information transmitted to or from the Program during your session.</p>

<h4 class="title-legal">HOW LONG WILL MY INFORMATION BE STORED?</h4>
<p class="copy-legal">We maintain electronic and hardcopy Program financing application information for funded/closed/withdrawn financing for a period of 7 years in accordance with federal and state laws.</p>

<h4 class="title-legal">WHO CAN I CONTACT FOR PRIVACY RELATED ISSUES?</h4>
<p class="copy-legal">You can contact us by mail at: The HERO Program, Attn: Privacy Department, 16935 West Bernardo Drive, Suite 150, San Diego, CA 92127.</p> 

<h4 class="title-legal">WILL THIS PRIVACY POLICY CHANGE?</h4>
<p class="copy-legal">To accommodate changes on the website, changing technology, and legal developments, the Program may change this Privacy Policy from time to time. When we do so we will prominently post the current version of the Privacy Policy on the Program website.</p>



</div>

<!--#include virtual="includes/footer.html" -->
