<!--#include virtual="includes/header.html" -->
<div class="lay-hero hero-team">
	<div class="container-inner">
		<h2 class="hero-title">Meet the Team</h2>
		<p class="hero-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit.</p>
	</div>
</div>
<div class="lay-nav-sub">
	<nav>
		<ul class="nav-sub">
			<li><a href="#team" class="js-scroll">Team</a></li>
			<li><a href="#team-product" class="js-scroll">Product</a></li>
			<li><a href="#team-marketing" class="js-scroll">Marketing</a></li>
			<li><a href="#team-support" class="js-scroll">Support</a></li>
			<li><a href="#team-finance" class="js-scroll">Finance</a></li>
			<li><a href="#team-compliance" class="js-scroll">Compliance</a></li>
			<li><a href="#team-executives" class="js-scroll">Executives</a></li>
		</ul>
	</nav>
</div>

<article class="container-page">
	<section class="row">
		<div class="container-inner">
			<div class="col-full">
				<h3 class="title-sm-reg-btn is-open js-team-reveal" id="team-product">Product</h3>
				<ul class="list-team is-open">
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<a href="#team-detail-brian-foo" class="js-colorbox">
							<div class="team-content">
								<h5 class="team-name">First Last</h5>
								<h6 class="team-title">Position</h6>
							</div>
						</a>
						<div class="team-detail-container">
							<div id="team-detail-brian-foo">
								<div class="lay-team-detail">
									<div class="container-page">
										<div class="container-inner">
											<h5 class="team-detail-name">Brian Foo</h5>
											<h6 class="team-detail-title">Position</h6>
											<h6 class="team-detail-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
											<p class="team-detail-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-2.jpg" alt="Employee Name">
						<a href="#team-detail-foo-bar" class="js-colorbox">
							<div class="team-content">
								<h5 class="team-name">First Last</h5>
								<h6 class="team-title">Position</h6>
							</div>
						</a>

						<div class="team-detail-container">
							<div id="team-detail-foo-bar">
								<div class="lay-team-detail">
									<div class="container-page">
										<div class="container-inner">
											<h5 class="team-detail-name">Foo Bar</h5>
											<h6 class="team-detail-title">Position</h6>
											<h6 class="team-detail-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
											<p class="team-detail-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa vitae felis cursus hendrerit.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-3.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-4.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-5.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-6.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-7.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-8.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-9.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-10.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-11.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row row-highlight">
		<div class="container-inner">
			<div class="col-full">
				<h3 class="title-sm-reg-btn js-team-reveal" id="team-marketing">Marketing</h3>
				<ul class="list-team">
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li><img src="/assets/images/employees/temp-2.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-3.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-4.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-5.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-6.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-7.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-8.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-9.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-10.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-11.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="container-inner">
			<div class="col-full">
				<h3 class="title-sm-reg-btn js-team-reveal" id="team-support">Support</h3>
				<ul class="list-team">
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li><img src="/assets/images/employees/temp-2.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-3.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-4.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-5.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-6.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-7.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-8.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-9.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-10.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-11.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
					<li>
						<img src="/assets/images/employees/temp-1.jpg" alt="Employee Name">
						<div class="team-content">
							<h5 class="team-name">First Last</h5>
							<h6 class="team-title">Position</h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="container-inner">
			<div class="col-ful col-centered">
				<a href="#" class="btn">Load More</a>
			</div>
		</div>
	</section>

</article>

<!--#include virtual="includes/footer.html" -->
